<div  padding-horizontal class="container-h content-flex items-center justify-between">
    <div class="container-h gap content-flex items-end justify-start">
          <img *ngIf="showLogo" src="assets/sysmex-logo.svg" class="unselectable sysmex-logo"/>
          <div class="brand-name">WAM™</div>
    </div>
    <div class="container-h justify-center items-center content-flex">
  
    </div>
    <div class="container-h gap items-center content-flex justify-end">
        <button ion-button clear icon-only>
            <ion-icon name="notifications-outline"></ion-icon>
        </button>
        <button *ngIf="!searchToggled" ion-button clear icon-only (click)="searchToggled = true">
              <ion-icon name="search"></ion-icon>
          </button>
          <ion-searchbar #q *ngIf="searchToggled" mode="ios" placeholder="Search "
                         (ionClear)="searchCancelled()" (keyup.enter)="search(q.value)"></ion-searchbar>
        <button *ngIf="isDebug" ion-button clear icon-only (click)="debug()">
            <ion-icon name="ios-bug-outline"></ion-icon>
        </button>
        <user-switcher [available]="true" [currentUsername]="username"></user-switcher>
    </div>
  </div>
  