.disable-scroll page-login.show-page {
pointer-events: initial;
-ms-touch-action: auto;
touch-action: auto;
}

.modal-login {
.modal-wrapper {
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
}
page-login {
.content {
    color: #fff;
    background: transparent;
    .scroll-content {
        overflow: auto;
        flex: 1 1 auto;
        .controls {
            background: rgba(255,255,255,0.95);
            border-radius: .5em;
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
            color: #555;
            .sysmex-logo {
                max-height: none;
                max-width: none;
                width: 158px;
                height: 48px;
            }
            .brand-name {
                background: color($colors, light-blue);
                border-radius: 3px;
                color: #fff;
                font-size: 1.8em;
                line-height: 1;
                margin-left: .5em;
                padding: .25em .5em;
                white-space: nowrap;
            }
            .item {
                background: transparent;
            }
            .text-input {
                background: transparent;
            }
        }
        video {
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            transform: translateX(-50%) translateY(-50%);
            }
        h1 {
            font-size: 2.4em;
            font-weight: 400;
            margin: 0;
            text-align: center;
        }
        .app-icon {
            max-height: 6em;
        }
        .login.list {
            min-width: 300px;
            width: 60vw;
            max-width: 720px;
        }
        .forgot {
            font-size: 1.2em;
        }
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        .copyright {
            p {
                margin: 0;
                text-align: center;
            }
            .app-version {
                font-weight: bold;
            }
            .app-version:empty {
                margin: 0;
                padding: 0;
            }
        }
    }
}
}
