 
<ion-header>

</ion-header>


<ion-content>
    <video autoplay loop src="assets/login-loop.mp4"></video>
    <div class="container-v content-flex">
            <div class="login-form content-flex container-v items-center justify-center">
                    <div padding class="controls container-v justify-center gap">
                          <div class="container-h items-end justify-center">
                              <img src="assets/sysmex-logo.svg" class="unselectable sysmex-logo"/>
                              <div class="brand-name">WAM™</div>
                          </div>
                          <div class="content-flex">
                            <ion-list padding class="login">
                                <form [formGroup]="loginForm">
                                    <ion-item>
                                        <!-- <ion-label floating>Email Address</ion-label> -->
                                        <ion-input autocomplete="off" clearInput placeholder="Email Address" type="email" formControlName="username" [class.invalid]="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)" required>
                                        </ion-input>
                                    </ion-item>

                                    <ion-item>
                                        <!-- <ion-label floating>Password</ion-label> -->
                                        <ion-input autocomplete="off" clearInput placeholder="Password" type="password" formControlName="password" [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)" required>
                                        </ion-input>
                                    </ion-item>

                                    <ion-item padding-top>
                                        <button ion-button large block color="primary" (click)="login($event)">Login</button>
                                    </ion-item>
                                    <ion-row padding-top justify-content-center>
                                        <button ion-button large clear color="primary" (click)="forgot()">Forgot Password?</button>
                                    </ion-row>
                                </form>
                            </ion-list>
                        </div>
                    </div>
                </div>
                <div margin-bottom class="content-flex copyright container-v justify-end">
                      <p class="app-version">{{appVersion}}</p>
                      <p>{{copyright}}</p>
                  </div>
    </div>

</ion-content>
