<ion-grid class="step4">
  <ion-row>
    <ion-col col-12 class="table-result">
      <ion-card>
        <ion-card-content>
          <table class=" table  table-striped">
            <thead>
              <tr>
                <th *ngIf="parent != rulefollowdifinitionpage">Sel</th>
                <th>        
                  <div (click)="sort('ruleName')">Rule Name
                      <span *ngIf="fieldSort=='ruleName'">
                          <ion-icon *ngIf="typeSort=='desc'" name="arrow-down" md="md-arrow-down"></ion-icon>
                          <ion-icon *ngIf="typeSort=='asc'" name="arrow-up" md="md-arrow-up"></ion-icon>
                      </span>
                  </div>
                </th>
                <th>
                  <div (click)="sort('activeMode')">Active
                      <span *ngIf="fieldSort=='activeMode'">
                          <ion-icon *ngIf="typeSort=='desc'" name="arrow-down" md="md-arrow-down"></ion-icon>
                          <ion-icon *ngIf="typeSort=='asc'" name="arrow-up" md="md-arrow-up"></ion-icon>
                      </span>
                  </div>
                </th>
                <th>                    
                  <div (click)="sort('ruleDesc')">Description
                      <span *ngIf="fieldSort=='ruleDesc'">
                          <ion-icon *ngIf="typeSort=='desc'" name="arrow-down" md="md-arrow-down"></ion-icon>
                          <ion-icon *ngIf="typeSort=='asc'" name="arrow-up" md="md-arrow-up"></ion-icon>
                      </span>
                  </div>
                </th>
                <th>

                </th>
                <th style="width:50px">

                </th>
                <th *ngIf="parent == rulefollowdifinitionpage">

                </th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let item of resultsAllData.content,let i=index" (click)="showDetail(item)">
                <td *ngIf="parent != rulefollowdifinitionpage">
                  <div class="form-check" >
                    <input class="form-check-input" type="checkbox" [(ngModel)]="item.selected">
                  </div>                  
                </td>
                <td>{{item.ruleName}}</td>
                <td>{{item.activeMode=='T'?'Active':'Inactive'}}</td>
                <td>{{item.ruleDesc}}</td>
                <td class="text-right">
                  <button ion-button outline small *ngIf="user&&user.role==1" (click)="editrule(item)" style="text-transform: none;">Edit</button>
                </td>
                <td class="text-right">
                  <button ion-button outline small *ngIf="user&&user.role==1" (click)="newrule(item)" style="text-transform: none;">Clone</button>
                </td>
                <td class="text-right" *ngIf="parent == rulefollowdifinitionpage">
                  <button  ion-button outline small style="text-transform: none;" (click)="AddRuleSelected(item)">Add</button>
                </td>
                
              </tr>
              <tr *ngIf="loading==false&&resultsAllData.totalItems==0">
                <td colspan="6">No record found.</td>
              </tr>
            </tbody>

            <tfoot>

              <tr>
                <td colspan="6">
                  <pagination *ngIf="(resultsAllData.totalItems>0)" (onChangePage)="changePage($event)" [showPageSize]="(false)" [showTotal]="(true)"
                    [pager]="pager"></pagination>
                </td>
              </tr>

            </tfoot>
          </table>
        </ion-card-content>
      </ion-card>


    </ion-col>
    <ion-col col-4 class="detail" *ngIf="parent != rulefollowdifinitionpage">
      <ion-card>
        <ion-card-content>
          <div class="panel-title" style="font-size:15px;">Detail Information</div>
          <br>
          <div class="title uppercase sub-title" *ngIf="curentDetail!=null">{{curentDetail.ruleName}}</div>
          <ng-container *ngIf="curentDetail">
            <!-- <p class="bold">{{curentDetail.ruleDesc}}</p> -->
            <p style="white-space:pre-line">{{curentDetail.detailInfo}}</p>
          </ng-container>
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>