step4-search-result {
    .col{
        padding: 0px;
    }
    .card-md{
        padding: 0px;
        margin: 0px;
        box-shadow: none;
        width: 100%;
    }
   .card-content-md{
       padding: 0px;
   }
   .detail .card-md{
       padding-left: 5px;
   }
   table th, table td{
        padding: 15px 7px!important;
    }

    table {
        tbody td:first-child, thead th:first-child {
            width: 15%;
            float: left;
        }
        tbody td:nth-child(2), thead th:nth-child(2) {
            width: 35% ;  
            float: left;
        }
        tbody td:nth-child(3), thead th:nth-child(3) {
            width: 22% ;  
            float: left;
        }
    }

}
