<ion-header>
  <ion-navbar color="white" class="unity">
    <unity-nav></unity-nav>
  </ion-navbar>
</ion-header>
<ion-content class="rule-wizard " padding>
  <div class="container-h content-flex">
    <div class="title-page">
      Rule Flow Definition
    </div>
  </div>

  <div class="container-h content-flex">
    <ion-grid class="step4">
      <ion-row>
        <ion-col class="table-result">
          <ion-card>
            <ion-card-content no-padding>
              <table class=" table  table-striped main">
                <thead>
                  <tr>
                    <th style="width:20px;"></th>
                    <th>No</th>
                    <th>Rule Flow Name</th>
                    <th>List of rules</th>
                     <th></th>
                    <th></th>


                  </tr>
                </thead>
                <tbody *ngFor="let item of ruleFollows.content,let i=index">
                  <tr>
                    <td class="header-row">
                      <span *ngIf="item.isShow" (click)="hiddenDetail(item)">
                        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
                      </span>
                      <span *ngIf="!item.isShow" (click)="showDetail(item)">
                        <ion-icon ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
                      </span>
                    </td>
                    <td>{{i+1}}</td>
                    <td>{{item.ruleFlowName}}</td>
                    <td>{{item.listRule}}</td>

                     <td class="text-right">
                    </td>
                    <td class="text-right">
                    </td>
                  </tr>

                  <tr *ngIf="item.isShow" class="detail-row">
                    <td></td>
                    <td colspan="5">
                      <!-- detail row -->
                      <table>
                        <thead>
                          <tr>
                            <th>Order</th>
                            <th>Rule Name</th>
                            <th>Active</th>
                            <th>Description</th>
                            <th class="action"></th>
                            <th class="action"></th>
                            <th class="action btn_action" style="color:#326eac" (click)="add(item)">
                              <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let child of item.ruleFlowDetails, let i=index">
                            <td>{{i+1}}</td>
                            <td>{{child.ruleName}}</td>
                            <td style="color:#326eac;">
                              <span *ngIf="child.activeMode=='T'">
                                <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
                              </span>
                            </td>
                            <td>{{child.ruleDesc}}</td>
                            <!---->
                            <td class="btn_action" (click)="sort_down(item,child,i)" [ngStyle]="{'color': i+1 != item.ruleFlowDetails.length ? '#326eac' : '#c5bdbd' }">
                              <ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon>
                            </td>
                            <td class="btn_action" (click)="sort_up(item,child,i)" [ngStyle]="{'color': i != 0 ? '#326eac' : '#c5bdbd' }" style="color:#326eac;">
                              <ion-icon ios="ios-arrow-round-up" md="md-arrow-round-up"></ion-icon>
                            </td>
                            
                            <td class="btn_action" (click)="remove(item,child,i)" style="color:#d50a0f;">
                              <ion-icon ios="ios-remove-circle-outline" md="md-remove-circle"></ion-icon>
                            </td>
                          </tr>

                        </tbody>
                        <tfoot>
                          <tr style="border-bottom: none">
                            <td colspan="7" class="text-right" >
                              <button ion-button small (click)="update_rule_follow(item)">
                                Save
                              </button>
                            </td>
                          </tr>
                        </tfoot>
                      </table>

                      <!-- end detail row -->
                    </td>
                  </tr>
                </tbody>

              </table>
            </ion-card-content>
          </ion-card>


        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>
<ion-footer>
  <unity-footer></unity-footer>
</ion-footer>