page-rule-follow-difinition {
    .header-row span:hover{
        cursor: pointer;
        padding: 0px;
        text-align: center;
    }
    .action{
        width: 20px;
    }
    .detail-row{
        background-color: #ebebeb;
    }
    .detail-row thead,.detail-row thead tr{
      background-color: transparent;
      color: #413939;
    }
    // .detail-row table{
    //     background-color: #fff;
    // }
    .btn_action:hover{
        cursor: pointer;
    }
}
