<ion-grid style="padding-top: 0;">
  <ion-row>
    <ion-col style="padding-top:0;" col-4>
      <ion-grid>
        <ion-row>
          <ion-col col-4 class="no-padding-bottom">
            <div class="label">Sample ID</div>
          </ion-col>
          <ion-col col-6 class="pr-pdg value no-padding-bottom">
            <span>{{patientDemoGraphics.sampleId}}
              <span *ngIf="patientDemoGraphics.originType=='UNR'" class="UNR">U</span>
            </span>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col col-4 class="no-padding-bottom">
            <div class="label">MRN</div>
          </ion-col>
          <ion-col col-6 class="pr-pdg value no-padding-bottom">
            <span>{{patientDemoGraphics.mrn}} </span>
          </ion-col>
        </ion-row>


      </ion-grid>
    </ion-col>
    <ion-col style="padding-top:0;" col-3>
      <ion-grid>

        <ion-row>
          <ion-col col-4 class="no-padding-bottom">
            <div class="label">DOB</div>
          </ion-col>
          <ion-col col-6 class="pr-pdg value no-padding-bottom">
            <span>{{patientDemoGraphics.patientBirthDate | date:'MM/dd/yyyy'}} </span>
          </ion-col>

        </ion-row>
        <!-- <ion-row>
          <ion-col col-4 class="no-padding-bottom">
            <div class="label">Age</div>
          </ion-col>

          <ion-col col-6 class="pr-pdg value no-padding-bottom">

            <span>{{patientDemoGraphics.age}} </span>

          </ion-col>

        </ion-row> -->
        <ion-row>
          <ion-col col-4 class="no-padding-bottom">
            <div class="label">Sex/Age</div>
          </ion-col>

          <ion-col col-6 class="pr-pdg value no-padding-bottom" style="padding-right: 0;">
            <span *ngIf="patientDemoGraphics.patientSex=='F'">Female</span>
            <span *ngIf="patientDemoGraphics.patientSex=='M'">Male</span>
            <!-- <span>/17 </span> -->
            <span *ngIf="patientDemoGraphics.age">/{{patientDemoGraphics.age}} </span>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-col>
    <ion-col style="padding-top:0;" col-5>
        <ion-grid>
            <ion-row>
                <ion-col col-4 class="no-padding-bottom">
                  <div class="label">Collection d/t</div>
                </ion-col>
                <ion-col col-6 class="pr-pdg value no-padding-bottom" style="padding-right:0px;">
                  <span>{{patientDemoGraphics.sampleDateTime | date: 'MM/dd/yyyy hh:mm:ss'}} </span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4 class="no-padding-bottom">
                  <div class="label">Receipt d/t</div>
                </ion-col>
                <ion-col col-6 class="pr-pdg value no-padding-bottom" style="padding-right:0px;">
                  <span>{{patientDemoGraphics.receiptDateTime | date: 'MM/dd/yyyy hh:mm:ss'}} </span>
                </ion-col>
              </ion-row>
        </ion-grid>
    </ion-col>

  </ion-row>
</ion-grid>