<page-topper></page-topper>
<ion-tabs #tab class="unity-nav-tabs" >
    <ion-tab *ngFor="let item of navPages" [tabUrlPath]="item.page" [root]="item.component" [tabTitle]="item.label"></ion-tab>
</ion-tabs>
