page-samples {
    .control-row:not(:first-of-type) {
        margin-top: 2em;
    }
    .select,
    .datetime {
        .item-cover {
            left: initial;
            top: initial;
            width: auto;
            height: auto;
        }
    }
    .search.mat-input-element {
        font-size: 2.5em;
    }
    .searchtype-group {
        margin-top: 1em;
    }

    .workplace {
        margin-left: 1em;
    }

    .control-date:not(:first-of-type) {
        margin-left: 1em;
    }
        .control-date {
        .label {
            margin: 0;
        }
        .date-container {
            .datetime {
                margin: 0;
                margin-top: .25em;
                margin-right: .5em;
                padding: 0;
                padding-top: 0;

            }
            border-bottom: 1px solid #ddd;
        }
    }
}
