<ion-header>
  <ion-navbar color="white" class="unity">
    <unity-nav></unity-nav>
  </ion-navbar>
</ion-header>
<ion-content>
  <page-topper></page-topper>
  <div padding class="content-col">
    <form [formGroup]="searchForm">
      <div class="control-row container-v">
        <mat-form-field [hintLabel]="searchHint">
          <input formControlName="query" matInput #input class="search" [placeholder]="searchPrompt">
        </mat-form-field>
        <mat-radio-group formControlName="queryType" class="searchtype-group" (change)="queryTypeChanged()">
          <mat-radio-button value="id">Sample ID</mat-radio-button>
          <mat-radio-button value="patient_id">MRN</mat-radio-button>
          <mat-radio-button value="patient_name">Patient Name</mat-radio-button>
          <mat-radio-button value="source_location">Request Location</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="control-row container-h">
        <div class="container-h items-center">
          <mat-form-field class="control-date" hintLabel="MM/DD/YYYY (Up to 3 years back)">
            <input matInput formControlName="fromDate" [min]="minDate" [max]="maxDate" [matDatepicker]="fromPicker" placeholder="From Date">
            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
            <mat-datepicker #fromPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="control-date" hintLabel="MM/DD/YYYY">
            <input matInput formControlName="fromDate" [min]="fromDate" [max]="maxDate" [matDatepicker]="toPicker" placeholder="To Date">
            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
            <mat-datepicker #toPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <mat-form-field class="workplace content-flex" hintLabel="Select specific analyzers">
          <mat-select placeholder="Workplaces" formControlName="workplaceSelect" multiple>
            <mat-option *ngFor="let item of workplaceData" [value]="item.ProductID">{{item.Model}} ({{item.Serial}})</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>


    <div class="container-h gap justify-end">
      <button ion-button color="primary" outline (click)="clear()">Clear</button>
      <button ion-button color="primary" (click)="search()">Search</button>
    </div>

  </div>


</ion-content>
<ion-footer>
  <unity-footer></unity-footer>
</ion-footer>