<ion-grid>
  <ion-row>
    <ion-col col-4>
      <ion-card style="margin:0px;">
        <ion-card-header style="padding-top:10px; padding-bottom:10px;">
          <ion-card-title style="font-size:2.0rem">Order Level Selection</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-4> <span class="label">Rule Name</span></ion-col>
              <ion-col>
                <input [ngClass]="{'error-alert': createModel.checkValid.invalidRuleName }" type="text" class="form-control" [(ngModel)]="createModel.ruleName" maxlength="20">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4><span class="label">Priority</span></ion-col>
              <ion-col>
                <input type="text" class="form-control" [(ngModel)]="createModel.priority" maxlength="6">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4><span class="label">Description</span></ion-col>
              <ion-col>
                <textarea class="form-control" [(ngModel)]="createModel.description" rows="6" maxlength="200"></textarea>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4><span class="label">Active</span></ion-col>
              <ion-col>
                <mat-checkbox [(ngModel)]="createModel.active"></mat-checkbox>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12><span class="label">Active Date</span>
                <mat-divider></mat-divider>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-1></ion-col>
              <ion-col col-3><span class="label">From</span> </ion-col>
              <ion-col>
                <input type="date" class="form-control" [(ngModel)]="createModel.activeDateFrom">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-1></ion-col>
              <ion-col col-3><span class="label">To</span></ion-col>
              <ion-col>
                <input type="date" class="form-control" [(ngModel)]="createModel.activeDateTo">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4><span class="label">Trigger On</span></ion-col>
              <ion-col>
                <mat-radio-group name="triggerOn" class="radio-group" [(ngModel)]="createModel.triggerOn">
                    <mat-radio-button class="radio-button" value="1">Order creation</mat-radio-button>
                    <mat-radio-button class="radio-button" value="2">Result</mat-radio-button>                  
                </mat-radio-group>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4><span class="label">Run Selection</span></ion-col>
              <ion-col>
                <mat-radio-group name="runSelection" class="radio-group" [(ngModel)]="createModel.runSelection">
                  <mat-radio-button class="radio-button" value="1">First run</mat-radio-button>
                  <mat-radio-button class="radio-button" value="2">Subsequence Run</mat-radio-button>
                  <mat-radio-button class="radio-button" value="3">All runs</mat-radio-button>
                </mat-radio-group>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-8>

      <ion-card style="margin:0px;">
        <ion-card-header style="padding-top:10px; padding-bottom:10px;">
          <ion-card-title style="font-size:2.0rem">
            Patient Demographics
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                  <span class="label">Patient Age</span>
                <mat-divider></mat-divider>
                <ion-grid>
                  <ion-row>
                    <ion-col col-1></ion-col>
                    <ion-col col-2><span class="label">From</span></ion-col>
                    <ion-col>
                      <input type="text" class="form-control text-right" [(ngModel)]="createModel.patientAgeFrom" maxlength="3" >
                    </ion-col>
                    <ion-col col-3>
                      <span style="display:block; margin-top:10px">
                        Years
                      </span>
                      <!-- <select class="form-control" [(ngModel)]="createModel.patientAgeFromUnit" disabled>
                        <option value="Y">Years</option>
                      </select> -->
                    </ion-col>

                  </ion-row>
                  <ion-row>
                    <ion-col col-1></ion-col>

                    <ion-col col-2><span class="label">To</span></ion-col>
                    <ion-col>
                      <input type="text" class="form-control  text-right" [(ngModel)]="createModel.patientAgeTo" maxlength="3">
                    </ion-col>
                    <ion-col col-3>
                        <span style="display:block; margin-top:10px">
                            Years
                        </span>
                      <!-- <select class="form-control" [(ngModel)]="createModel.patientAgeToUnit" disabled>
                        <option value="Y" selected>Years</option>
                      </select> -->
                    </ion-col>

                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col col-6><span class="label">Specimen Age</span>
                
                <mat-divider></mat-divider>

                <ion-grid>
                  <ion-row>
                    <ion-col col-1></ion-col>

                    <ion-col col-2><span class="label">From</span></ion-col>
                    <ion-col>
                      <input type="text" class="form-control text-right" [(ngModel)]="createModel.specimenAgeFrom" maxlength="3">

                    </ion-col>
                    <ion-col col-3>
                      <select class="form-control" [(ngModel)]="createModel.specimenAgeFromUnit " >
                        <option value="D">Days</option>
                        <option value="H">Hours</option>
                      </select>
                    </ion-col>

                  </ion-row>
                  <ion-row>
                    <ion-col col-1></ion-col>

                    <ion-col col-2><span class="label">To</span></ion-col>
                    <ion-col>
                      <input type="text" class="form-control text-right" [(ngModel)]="createModel.specimenAgeTo" maxlength="3">
                    </ion-col>
                    <ion-col col-3>
                      <select class="form-control" [(ngModel)]="createModel.specimenAgeToUnit">
                        <option value="D">Days</option>
                        <option value="H">Hours</option>
                      </select>
                    </ion-col>

                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="patient-col">
                <ion-grid>
                  <ion-row>
                    <ion-col><span class="label">Gender</span></ion-col>
                    <ion-col>
                      <select class="form-control" [(ngModel)]="createModel.gender">
                        <option value=""></option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                      </select>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col><span class="label">Patient Type</span></ion-col>
                    <ion-col>
                      <select class="form-control" [(ngModel)]="createModel.patientType">
                        <option value="1">In Patient</option>
                        <option value="2">Out Patient</option>
                      </select>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col><span class="label">Discipline</span></ion-col>
                    <ion-col>
                      <select class="form-control" [(ngModel)]="createModel.discipline">
                        <option value="HEMA">Hematology</option>
                        <option value="CHEM">Chemistry</option>
                      </select>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col><span class="label">Physician Number</span></ion-col>
                    <ion-col>
                      <input type="text" class="form-control" [(ngModel)]="createModel.physicianNumber" maxlength="1000">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col><span class="label">Req. Phys</span></ion-col>
                    <ion-col>
                      <input type="text" class="form-control" [(ngModel)]="createModel.reqPhys" maxlength="1000">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col><span class="label">Req. Location</span></ion-col>
                    <ion-col>
                      <input type="text" class="form-control" [(ngModel)]="createModel.reqLocation" maxlength="40">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col><span class="label">Care Unit</span></ion-col>
                    <ion-col>
                      <input type="text" class="form-control" [(ngModel)]="createModel.careUnit" maxlength="20">
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
              <ion-col class="patient-col">
                <ion-grid>
                  <ion-row>
                    <ion-col><span class="label">Site</span></ion-col>
                    <ion-col>
                      <input type="text" class="form-control" [(ngModel)]="createModel.site">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col><span class="label">MRN</span></ion-col>
                    <ion-col>
                      <input type="text" class="form-control" [(ngModel)]="createModel.mrn" maxlength="40">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col><span class="label">Name</span></ion-col>
                    <ion-col>
                      <input type="text" class="form-control" [(ngModel)]="createModel.name" maxlength="200">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col><span class="label">Diagnosis 1</span></ion-col>
                    <ion-col>
                      <input type="text" class="form-control" [(ngModel)]="createModel.diagnosis1" maxlength="40">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col><span class="label">Diagnosis 2</span></ion-col>
                    <ion-col>
                      <input type="text" class="form-control" [(ngModel)]="createModel.diagnosis2" maxlength="40">
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col><span class="label">Stat</span></ion-col>
                    <ion-col>
                      <mat-checkbox [(ngModel)]="createModel.stat"></mat-checkbox>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>



          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>


  </ion-row>
</ion-grid>