level-selection {
    .radio-group {
        display: inline-flex;
        flex-direction: column;
      }
      
      .radio-button {
        margin: 5px;
        margin-left: 0px!important;

      }
      
      .selected-value {
        margin: 15px 0;
      }
     .patient-col{
       padding-bottom: 0px;
       padding-top:2px;
     }
}
