<!-- Generated template for the TallyBoxComponent component -->
<div class="tally-box container-v justify-start items-center">
  <div class="tally">
      {{tally}}
  </div>
  <div class="label">
    {{label}}
  </div>
</div>
