tally-box {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: flex-start;
    background: color($colors, primary);
    color: #fff;
    border-radius: 4px;
    padding: 0.5em;
    flex: 1 1 auto;
    transition: background-color 0.5s ease;
    .tally-box {
        flex: 1 1 auto;
        .tally {
            font-weight: bold;
            font-size: 2.8em;
            line-height: 1;
            padding: 0.25em;
        }
        .label {
            font-size: 1em;
            text-align: center;
            color: #fff;
        }
    }
}
tally-box:hover {
    background: color($colors, light-blue);
}

tally-box.stat {
    background: color($colors, stat);
}
tally-box.stat:hover {
    background: color($colors, stat-hover);
}
