page-dashboard {
    hero-welcome {
        margin: 1em 0;
        margin-top: 2em;
    }

    page-topper {
        height: 280px;
    }
    .stat-segment {
        max-width: 280px;
        .segment-button {
            font-size: 1.4em;
        }
        .segment-button.segment-activated {
            color: color($colors, secondary);
        }
    }
    .tally-boxes {
        width: 80%;
        margin: 2em 0;
        .box {
            padding: 0 .25em;
            flex: 1 0 auto;
        }
    }
    .mkt-statement {
        font-weight: 300;
        font-size: 1.8em;
        color: #7d8c9d;

        letter-spacing: -1px;
        line-height: normal;
        margin: 1em 0;
        text-align: center;
        max-width: 60vw;
    }
    .apps {
        width: 80%;
        margin-top: 2em;
        .app:hover {
            background-color: #fff;
            border-color: #bbb;
            .icon {
                color: #4e6f8d;
            }
        }
        .app {
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
            transition: all 0.5s ease;
            border: 1px solid #ddd;
            border-radius: 3px;
            cursor: pointer;
            padding: 1em .25em;
            color: #58595b;
            text-align: center;
            .icon {
                transition: all 1s ease;
                font-size: 72px;
                color: #c5d2dd;
            }
            .title {
                font-size: 1.2em;
                font-weight: bold;
            }
            .desc:empty {
                margin: 0;
                padding: 0;
                display: none;
            }
            .desc {
                font-size: 1em;
            }
        }
    }
}
