<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="white" class="unity">
    <unity-nav></unity-nav>
  </ion-navbar>

</ion-header>


<ion-content>
  <page-topper></page-topper>
 

  <div class="container-v items-center">
    <hero-welcome [salutation]="salutation" [prompt]="heroPrompt" [heroStatus]="heroStatus" (onSearch)="search($event)"></hero-welcome>

    <ion-segment mode="ios" class="stat-segment" (ionChange)="tallyCounterChanged()" [(ngModel)]="tallyCounter" color="light">
      <ion-segment-button value="stat">
        Stat Orders
      </ion-segment-button>
      <ion-segment-button value="all">
        All Orders
      </ion-segment-button>
    </ion-segment>

    <div class="container wrap container-h tally-boxes items-center" margin-horizontal>
      <div margin-vertical class="box content-flex container-v col-sm-6 col-md-3" *ngFor="let box of boxes; let idx = index">
        <tally-box [label]="box.label" (click)="tallyBoxClick(box, tallyCounter=='stat', idx)" [class.stat]="tallyCounter=='stat'"
          [tally]="box.tally"></tally-box>
      </div>
    </div>


    <div class="container-h wrap apps">
      <div align-self-center *ngFor="let app of apps" class="col-sm-6 col-md-4 col-app" (click)="launch(app)" col-sm-6 col-md-4>
        <div margin class="container-v items-center gap app">
          <ion-icon *ngIf="app.icon" [name]="app.icon" class="jumbo"></ion-icon>
          <div class="title">{{app.title}}</div>
          <div class="desc">{{app.desc}}</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <unity-footer></unity-footer>
</ion-footer>