<!--
  Generated template for the AlertsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="white" class="unity">
        <unity-nav></unity-nav>
    </ion-navbar>

  </ion-header>


<ion-content padding>

</ion-content>
