<ion-content padding>
        <!-- Modal MRN -->
    
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Operator Alerts</h4>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeAddExpenseModal><span aria-hidden="true">&times;</span></button> -->
    
            </div>
            <div class="modal-body">
    
                <div class="row">
                    <div class="col-md-12 table-result" col-12>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Sel</th>
                                    <th>OP Alert</th>
                                    <th>Priority</th>
                                    <th>Description</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of arrayOPAlert,let i=index" (click)="showDetail(item)" >
                                    <td> <!--[ngStyle]="{'background-color':item.selected ? 'pink' : '' }"-->
                                        <input type="checkbox" [(ngModel)]="item.selected">
                                    </td>
                                    <td>
                                            {{item.opAlertCode}}
                                    </td>
                                    <td>
                                            {{item.priority}}   
                                    </td>
                                    <td>
                                            {{item.oatext}}
                                    </td>
                                </tr>
         
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                            <pagination *ngIf="(totalItems>0)"
                                                    (onChangePage)="changePage($event)" 
                                                    [showPageSize]="(false)"
                                                    [pager]="pager">
                                            </pagination>    
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
    
            </div>
        </div>
    </ion-content>
    <ion-footer>
    
        <div class="button-popup">
            <button ion-button (click)="pushData()">OK</button>
            <button ion-button class="alert-button" (click)="closeModal()">Quit</button>
        </div>
    </ion-footer>