page-modal-select-opalert{
    tbody { display: block; }
    
    table {
        width: 100%;
        border-spacing: 0;
    }
    
    thead, tbody, tr, th, td { display: block; }

    thead tr {
        /* fallback */
        width: 97%;
        /* minus scroll bar width */
        width: -webkit-calc(100% - 16px);
        width:    -moz-calc(100% - 16px);
        width:         calc(100% - 16px);
        background-color: transparent !important;
    }
    
    tr:after {  /* clearing float */
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }
    
    tbody {
        height: 350px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    tbody td:first-child, thead th:first-child {
        width: 12%;  
        float: left;
    }
    tbody td:nth-child(2), thead th:nth-child(2) {
        width: 20% ;  
        float: left;
    }
    tbody td:nth-child(3), thead th:nth-child(3) {
        width: 15% ;  
        float: left;
    }
    
    tbody td:nth-child(4), thead th:nth-child(4) {
        width: 45%;  
        float: left;
    }
    
    tbody td, thead th {
        width: 30%;  /* 19% is less than (100% / 5 cols) = 20% */
        float: left;
    }
    .scroll-content{
        overflow-y: hidden;
    }
    .button-popup{
        float:right;
        //padding: 15px;
    }
    
}