<div class="panel-title" style="margin-top:20px;">Manual</div>
<mat-divider>
</mat-divider>
<table class="no-hover">
  <tr>
    <td>Count1</td>
    <td>
      <mat-form-field>
        <input matInput>
      </mat-form-field>
    </td>
    <td>Count2</td>
    <td>
      <mat-form-field>
        <input matInput>
      </mat-form-field>
    </td>
  </tr>
</table>

<table class="table  table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Test Code</th>
      <th>Result</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listOrderResultsManual">
      <td scope="row">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="item.selected" (change)="changeSelectionTestCode()">
        </div>
      </td>

      <td>{{item.testCode}}</td>
      <td>{{item.result}}</td>
      <td>{{item.comments}}</td>
    </tr>

  </tbody>

</table>