page-result-validation {
    .card-md{
        margin:5px;
    }
    .scroll-content{
        overflow-y: hidden !important;
        padding-top:0px !important;
    }
    .panel-left, .panel-right{
        height: 100%;
    }
    ion-item.active{
        background-color: #f0f0f0;
    }
    .result-validation-item{
        margin-bottom: 15px;
        padding: 15px;
        height: 100%;
        .title-item{
            color: #3475b5;
            font-weight: bold;
            text-transform: uppercase; 
        }
        
    }
    .row-action{
        .actions{
            text-align: right;
        }
    }
    .step{ 
        font-weight: bold;
    }   
    .UNR{
        background-color: #3f51b5;
        color:#fff;
        padding: 3px 6px;
    } 
    .NonUNR{
        padding:  3px 6px;
    }
    table.no-hover  tr:hover{
        background-color:transparent!important;
    }
    .sample-title{
        line-height: 1;
        padding: .25em;
        border-radius: .25em;
        background-color: #005bac;
        color: #fff;
        width: 15%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 16px;
        margin-left: 5px;
        margin-right: 10px;
    }
    .field {
        font-size: 13px;//.9em;
        line-height: 1;
        padding: .25em;
        border-radius: .25em;
        background-color: #222;
        color: #fff;
    }
    
    .field-value {
        font-size: 13px;//.9em;
        line-height: 1;
        // padding: .25em;
        margin-left:0.5em;
        // border-radius: .25em;
        // background-color: #222;
        // color: #fff;
    }

    

.sample-table {
    
    tbody { display: block; }
        
        table {
            width: 100%;
            height: 100%;
            border-spacing: 0;
            th,td{
                text-align: left;
                padding: 15px 10px;
            }
        }
        
        thead, tbody, tr, th, td { display: block; }
    
        thead tr {
            /* fallback */
            width: 97%;
            /* minus scroll bar width */
            width: -webkit-calc(100% - 16px);
            width:    -moz-calc(100% - 16px);
            width:         calc(100% - 16px);
            background-color: transparent !important;
        }
        tbody tr{
            height:73px;
        }
        tr:after {  /* clearing float */
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }
        
        tbody {
            height: calc(100% - 60px);
            overflow-y: auto;
            overflow-x: hidden;
        }
        tbody td:nth-child(2), thead th:nth-child(2) {
            width: 42% ;  
            float: left;
        }
        tbody td:nth-child(3), thead th:nth-child(3) {
            width: 3% ;  
            float: left;
        }
        tbody td, thead th {
            width: 45%;  /* 19% is less than (100% / 5 cols) = 20% */
            float: left;
            
        }

    }
    .opalert-result-validation{
        height:calc(100% - 165px);
        position: absolute;
        top: 150px;
        width:74%;
        overflow-y:scroll;
        overflow-x:hidden;
    }
    .left-row{
        height:calc(100% - 30px);
        position:absolute; 
        width:25%;
        .panel-left{
            height: 100%;
            .card-content{
                height: 100%;
                .row{
                    height: calc(100% - 35px);
                }
            }
        }
    }
}
