<ion-header>
  <ion-navbar color="white" class="unity">
    <unity-nav></unity-nav>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div class="container-h content-flex">


    <ion-grid>
      <ion-row>
        <div col-3>
          <ion-row class="left-row" >
            <ion-card class="panel-left">
              <ion-card-content>
                <ion-card-header style="padding:0">
                  <ion-card-title style="padding-top:0; margin-top:0">
                    {{totalSampleId}} Results
                    <span style="float:right;">
                      <span class="field">ID</span>
                      <span class="field-value"> {{patientDemoGraphics.sampleId}}</span>
                    </span>
                  </ion-card-title>
                </ion-card-header>
                <ion-row>
                  <div class="col-md-12 table-result sample-table" col-12>
                    <table class="table table-striped" id="arrow-table" >
                      <thead>
                        <tr>
                          <th>
                            <div (click)="sort('sampleId')">ID
                              <span *ngIf="fieldSort=='sampleId'">
                                <ion-icon *ngIf="typeSort=='desc'" name="arrow-down" md="md-arrow-down"></ion-icon>
                                <ion-icon *ngIf="typeSort=='asc'" name="arrow-up" md="md-arrow-up"></ion-icon>
                              </span>
                            </div>
                          </th>
                          <th>
                            <div (click)="sort('receiptDateTime')">Date
                              <span *ngIf="fieldSort=='receiptDateTime'">
                                <ion-icon *ngIf="typeSort=='desc'" name="arrow-down" md="md-arrow-down"></ion-icon>
                                <ion-icon *ngIf="typeSort=='asc'" name="arrow-up" md="md-arrow-up"></ion-icon>
                              </span>
                            </div>
                          </th>
                          <th></th>
                        </tr>
                      </thead>
                      <!-- (scroll)="onScroll($event)" -->
                      <tbody #focusTable >

                        <tr *ngFor="let item of sampleIds" (click)="getDataSampleId(item)" [ngStyle]="{'background-color':item.active ? 'rgb(243, 220, 220)' : '' }"
                          [ngClass]="{'active':item.active==true}">
                          <td>
                            {{item.sampleId}}
                          </td>
                          <td>
                            {{item.receiptDateTime | date: 'MM/dd/yyyy hh:mm:ss'}}
                          </td>
                          <td>
                            <span *ngIf="item.originType=='UNR'" class="UNR">U</span>
                            <span *ngIf="item.originType!='UNR'" class="NonUNR">&nbsp;</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </ion-row>

              </ion-card-content>
            </ion-card>
          </ion-row>

        </div>
        <div col-9>
          <ion-row style="position: fixed;width: 74%; z-index:100">
            <ion-card class="">

              <ion-card-content style="padding-bottom: 0px;padding-top: 10px;">
                <ion-card-header style="padding:0px;">
                  <ion-card-title style="padding:0;">
                    <span>{{patientDemoGraphics.patientName ? patientDemoGraphics.patientName : "N/A"}} </span>
                  </ion-card-title>
                </ion-card-header>
                <patient-demo-graphics [(patientDemoGraphics)]="patientDemoGraphics"></patient-demo-graphics>
              </ion-card-content>
            </ion-card>
          </ion-row>

          <div class="opalert-result-validation" style="">
            <ion-row>
              <ion-card class="">
                <ion-card-content>
                  <ion-row (click)="toggleOPAlert()">
                    <div class="sample-title">Op Alerts</div>
                    <span>
                      <ion-icon *ngIf="!showOPAlert" ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
                      <ion-icon *ngIf="showOPAlert" ios="ios-arrow-dropup" md="md-arrow-dropup"></ion-icon>                    
                    </span>
                  </ion-row>
                  <div [hidden]="showOPAlert">
                    <op-alerts [(listOpAlert)]="listOpAlert"></op-alerts>
                  </div>
                  
                </ion-card-content>
              </ion-card>
            </ion-row>

            <ion-row>
              <ion-card class="">
                <ion-card-content>
                  <instrustment [conditionSearch]="conditionSearch" [(listOrderResultsInstrusment)]="listOrderResultsInstrusment"></instrustment>
                  <!-- <manual [(listOrderResultsManual)]="listOrderResultsManual"></manual> -->
                </ion-card-content>
              </ion-card>
            </ion-row>
          </div>


          <!-- <ion-row>
            <div col-4>
             
            </div>
            <div col-8>
             
            </div>
          </ion-row> -->




        </div>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
<ion-footer>
  <unity-footer></unity-footer>
</ion-footer>