<ion-header>
    <ion-navbar color="white" class="unity">
        <unity-nav></unity-nav>
    </ion-navbar>
</ion-header>
<ion-content class="rule-wizard " padding>
    <div class="container-h content-flex">
        <div class="title-page">
            {{isUpdate?"Update Rule":"Create Rule"}}
        </div>
    </div>

    <div class="container-h content-flex">
        <ion-grid>
            <ion-row *ngIf="messages.length > 0"> 
                <ion-col>
                    <ul class="valid">
                        <li *ngFor="let item of messages">{{item.message}}</li>
                    </ul>
                </ion-col>
            </ion-row>
            <ion-row>
                <mat-tab-group class="tab-group">
                    <mat-tab label="Order Level Selection">
                        <level-selection [(createModel)]="createModel"></level-selection>
                    </mat-tab>
                    <mat-tab label="Test Level Selection">
                        <test-level-selection [(createModel)]="createModel"></test-level-selection>
                    </mat-tab>
                    <mat-tab label="Actions">
                        <action-level-selection [(createModel)]="createModel"></action-level-selection>
                    </mat-tab>
                </mat-tab-group>
            </ion-row>
            <ion-row style="padding-right: 17px;">
                <ion-col class="pull-right">
                    <button ion-button style="text-transform: none;" (click)="update()">{{isUpdate?"Update":"Create"}}</button>
                    <button ion-button outline style="text-transform: none;" (click)="cancel()">Cancel</button>
                </ion-col>
            </ion-row>
        </ion-grid>


    </div>

</ion-content>
<ion-footer>
    <unity-footer></unity-footer>
</ion-footer>