<ion-header>
  <ion-navbar color="white" class="unity">
    <unity-nav></unity-nav>
  </ion-navbar>
</ion-header>
<ion-content class="rule-wizard " padding>
  <div class="container-h content-flex">
    <div class="title-page">
      Rule Flow Details
    </div>
  </div>

  <div class="container-h content-flex">
    <ion-grid>
      <ion-row>
        <ion-col col-3 class="left-container">
          <div class="selection-criteria border-top" padding>
            <div class="panel-title" style="text-transform: none;">{{rulefollow.ruleFlowName}}</div>

            <ion-row>
              <table class="table-selected-rule">
                <!-- <thead>
                  <tr>
                    <th>Order</th>
                    <th>Rule Name</th>
                    <th colspan="3">Action</th>
                  </tr>
                </thead> -->
                <tbody *ngIf="rulefollow">
                  <ng-container *ngFor="let item of rulefollow.ruleFlowDetails, let i=index">
                    <tr *ngIf="!item.isRemoted">
                      <td>
                        {{i+1}}.
                      </td>
                      <td (click)="showDetail(item)">{{item.ruleName}}
                        <ion-icon *ngIf="item.showDetail" ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
                        <ion-icon *ngIf="!item.showDetail" ios="ios-arrow-dropright" md="md-arrow-dropright"></ion-icon>
                      </td>
                      <!-- <td style="color:#326eac;">
                          <span *ngIf="item.activeMode=='T'">
                            <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
                          </span>
                        </td>
                        <td>{{item.ruleDesc}}</td> -->
                      <td class="btn_action" (click)="sort_down(rulefollow,item,i)" [ngStyle]="{'color': i+1 != rulefollow.ruleFlowDetails.length ? '#326eac' : '#c5bdbd' }" style="cursor:pointer">
                        <ion-icon ios="ios-arrow-round-down" md="md-arrow-round-down"></ion-icon>
                      </td>
                      <td class="btn_action" (click)="sort_up(rulefollow,item,i)" [ngStyle]="{'color': i != 0 ? '#326eac' : '#c5bdbd' }" style="cursor:pointer">
                        <ion-icon ios="ios-arrow-round-up" md="md-arrow-round-up"></ion-icon>
                      </td>
                      <td class="btn_action" (click)="remove(rulefollow,item,i)" style="color:#d50a0f;cursor:pointer">
                        <ion-icon ios="ios-remove-circle-outline" md="md-remove-circle"></ion-icon>
                      </td>
                    </tr>
                    <tr *ngIf="item.showDetail">
                      <td colspan="5" style="padding-left:20px;background-color:#f6f6f6">
                        <span>{{item.ruleDesc}}</span>
                      </td>
                    </tr>

                  </ng-container>

                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="6" class="text-right">
                        <button ion-button outline small (click)="cancel_rule_follow()">
                            Cancel
                          </button>
                      <button ion-button small (click)="update_rule_follow()">
                        Save
                      </button>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </ion-row>

            <br>

          </div>

        </ion-col>
        <ion-col col-9 class="rule-wizard-body">
          <step-tab (onSelectStep)="selectStep($event)"></step-tab>
          <step1-set-global-properties class="contentTab" id="contentTab1" [(searchModel)]="searchModel"></step1-set-global-properties>
          <step2-patients-demographics class="contentTab collapse" id="contentTab2" [(searchModel)]="searchModel"></step2-patients-demographics>
          <step3-test-level class="contentTab collapse" id="contentTab3" [(searchModel)]="searchModel"></step3-test-level>

          <step4-search-result class="contentTab collapse" id="contentTab4" [searchResult]="results" [resultsAllData]="resultsAllData"
            [pager]="pager" [loading]="isLoading" (onUpdateCart)="updateCart($event)" (onChangePage)="changePage($event)" [parent]="'rulefollowdifinition'" [arrSort]="arrSort"></step4-search-result>
          <br>
          <br>
          <br>
          <br>

          <div style="position: absolute;bottom:0;width: 100%;padding-right: 30px; padding-left: 15px;">
            <!-- <hr class="footer"> -->
            <div class=" row rule-wizard-footer">

              <div class="col-md-12">
                <form class="form-inline ">
                  <div class="form-group step-button-1">
                    <button type="button" ion-button style="text-transform: none;" *ngIf="currentStep>1" (click)="backStep()">
                      <span class="text">Back</span>
                    </button>
                    <button type="button" ion-button style="text-transform: none;" *ngIf="currentStep<4" (click)="nextStep()">
                      <span class="text">Next</span>
                    </button>

                  </div>
                  <div class="form-group" style="position: absolute;right:0px;">

                    <button type="button" ion-button outline style="text-transform: none;" *ngIf="currentStep<4" (click)="clear()">
                      <span class="text">Clear</span>
                    </button>
                    <button type="button" ion-button style="text-transform: none;" (click)="search()">
                      <span class="fas fa-list"></span>
                      <span class="text">Search</span>
                    </button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
<ion-footer>
  <unity-footer></unity-footer>
</ion-footer>