<ion-content padding>
    <!-- Modal MRN -->

    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Test Code</h4>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeAddExpenseModal><span aria-hidden="true">&times;</span></button> -->
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-12 table-result" col-12>
                    <table class="table  table-striped">
                        <thead>                  
                          <tr>
                            <th>Sel</th>
                            <th>Test Code</th>
                            <th>Short Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of testcodes">
                            <td scope="row">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="item.selected" (change)="changeSelectionTestCode(item)">
                              </div>
                            </td>
                            <td>{{item.testCode}}</td>
                            <td>{{item.shortName}}</td>
                          </tr>
                  
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="3">
                              <pagination *ngIf="(totalItems>0)"
                                 (onChangePage)="changePage($event)" 
                                 [showPageSize]="(false)"
                                  [pager]="pager"></pagination>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer>

    <div class="button-popup">
        <button ion-button (click)="pushData()">OK</button>
        <button ion-button class="alert-button" (click)="closeModal()">Quit</button>
    </div>
</ion-footer>

