<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-row>
            <ion-col col-3><span class="label">Rerun</span></ion-col>
            <ion-col col-3>
                <mat-checkbox [(ngModel)]="createModel.reRun" (change)="reRunClick($event)"></mat-checkbox>                
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3><span class="label">Rerun Selection</span></ion-col>
            <ion-col col-3>
              <select class="form-control" [(ngModel)]="createModel.rerunSelection" [disabled]="!createModel.reRun" (change)="reRunSlectionChange()">
                    <option value="1">Group</option>
                    <option value="2">All</option>
                    <option value="3">Test</option>
                  </select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>
              <div><span class="label">Rerun Test List</span></div>
            </ion-col>
            <ion-col col-8>
                <input type="text" class="form-control" [(ngModel)]="createModel.rerunTestList" [disabled]="!(createModel.reRun && createModel.rerunSelection =='3')">

              <!-- <div class="form-control div-style">
                <span *ngFor="let item of createModel.reRunTestListArray;let i= index" class="btn btn-outline-tag" style="margin-right:5px;"> {{item.testCode}} <a (click)="deleteRerunList(i)">x</a></span>
              </div> -->
            </ion-col>
            <ion-col col-1>
              <button title="Select Rerun Test List" class="btn-popup" (click)="showReRunTestCode()" [disabled]="!(createModel.reRun && createModel.rerunSelection =='3')">
                ...
              </button>
            </ion-col>
          </ion-row>
          <ion-row style="margin-bottom:15px;">

          </ion-row>
          <ion-row>
            <ion-col col-3><span class="label">Review</span></ion-col>
            <ion-col col-3>
                <mat-checkbox [(ngModel)]="createModel.review" (change)="reviewClick($event)"></mat-checkbox>
                
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3><span class="label">Review Selection</span></ion-col>
            <ion-col col-3>
              <select class="form-control" [(ngModel)]="createModel.reviewSelection" [disabled]="!createModel.review" (change)="reviewSlectionChange()">
                <option value="1">Group</option>
                <option value="2">All</option>
                <option value="3">Test</option>
              </select>
            </ion-col>
            <ion-col col-2><span class="label">Force Status</span></ion-col>
            <ion-col col-3>
              <select class="form-control" [(ngModel)]="createModel.forceStatus">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3><span class="label">Review Test List</span>
            </ion-col>
            <ion-col col-8>
                <input type="text" class="form-control" [(ngModel)]="createModel.reviewTestList" [disabled]="!(createModel.review && createModel.reviewSelection == '3')">

                <!-- <div class="form-control div-style">
                  <span *ngFor="let item of createModel.reviewTestListArray;let i= index" class="btn btn-outline-tag" style="margin-right:5px;"> {{item.testCode}} <a (click)="deleteReviewList(i)">x</a></span>
                </div> -->
            </ion-col>
            <ion-col col-1>
              <button class="btn-popup" title="Select Review Test List" (click)="showReviewTestCode()" [disabled]="!(createModel.review && createModel.reviewSelection == '3')" >
                ...</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3><span class="label">Reflex Test List</span>
            </ion-col>
            <ion-col col-8>
                <input type="text" class="form-control" [(ngModel)]="createModel.reflexTestList">

                <!-- <div class="form-control div-style">
                  <span *ngFor="let item of createModel.reflexTestListArray;let i= index" class="btn btn-outline-tag" style="margin-right:5px;"> {{item.testCode}} <a (click)="deleteReflexList(i)">x</a></span>
                </div> -->
            </ion-col>
            <ion-col col-1>
              <button class="btn-popup" (click)="showReflexTestCode()" title="Select Reflex Test List">
                ...
              </button>
            </ion-col>
          </ion-row>
          <!-- Delete Test List -->
          <ion-row>
            <ion-col col-3><span class="label">Delete Test List</span>
            </ion-col>
            <ion-col col-8>
                <input type="text" class="form-control" [(ngModel)]="createModel.deleteTestList">

                <!-- <div class="form-control div-style">
                  <span *ngFor="let item of createModel.deleteTestListArray;let i= index" class="btn btn-outline-tag" style="margin-right:5px;"> {{item.testCode}} <a (click)="deleteDeleteList(i)">x</a></span>
                </div> -->
            </ion-col>
            <ion-col col-1>
              <button class="btn-popup" (click)="showDeleteTestCode()" title="Select Delete List">
                ...
              </button>
            </ion-col>
          </ion-row>

        </ion-col>
        <ion-col col-6>
          <ion-row>
            <ion-col col-8><span class="label">OP Alert</span>              
            </ion-col>
            <ion-col col-4><span class="label">Priority</span>              
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-7>
              <input class="form-control" type="text" [(ngModel)]="createModel.oPAlertId" maxlength="200">
            </ion-col>
            <ion-col col-1>
              <button class="btn-popup" (click)="ShowOPAlert()" title="Select OP Alert">
                ...
              </button>
            </ion-col>
            <ion-col col-2>
              <select class="form-control" [(ngModel)]="createModel.oPAlertPriority" >
                <option *ngFor="let item of opPriorityArray" value="{{item}}">{{item}}</option>
              </select>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-7>
                <textarea class="form-control" rows="5" [(ngModel)]="createModel.oPAlertDescription" maxlength="200"> </textarea>
              </ion-col>
              <ion-col col-2>

              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>