step2-patients-demographics {
    // .form-control{
    //     display: block;
    //     width: 100%;
    //     padding: 0.375rem 0.75rem;
    //     font-size: 1rem;
    //     line-height: 1.5;
    //     color: #495057;
    //     background-color: #fff;
    //     background-clip: padding-box;
    //     border: 1px solid #ced4da;
    //     border-radius: 0.25rem;
    // }
    .title{
        margin-bottom: 34px;
        color: #3475b5;
    }
    .row{
        margin-bottom: 5px;
    }
    .label{
        font-family: "Open Sans";
        font-size: 15px;
        color: #999999;
    }
    // .form-control{
    //     max-width: 360px;
    // }
    
}
