
<ion-grid>
  <ion-row>
    <ion-col col-3>
      <div class="label">Patient Type:</div>
    </ion-col>
    <ion-col col-md-5>
      <select class="form-control" [(ngModel)]="searchModel.patientType">
        <option value="-1">--Select--</option>
        <option value="1">In patient</option>
        <option value="2">Out patient</option>
      </select>    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3>
      <div class="label">Gender:</div>
    </ion-col>
    <ion-col col-md-5>
      <select class="form-control" [(ngModel)]="searchModel.gender">
        <option value="-1">--Select--</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
      </select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3>
      <div class="label">MRN:</div>
    </ion-col>
    <ion-col col-md-5>
      <input type="text" class="form-control" [(ngModel)]="searchModel.mrn">
      <!-- <div class="form-control div-style">
          <span *ngFor="let item of searchModel.mrnSelectedArray;let i= index" class="btn btn-outline-tag" style="margin-right:5px;"> {{item.id}} <a (click)="deleteMRN(i)">x</a></span>
        </div> -->
    </ion-col>
    <ion-col col-1>      
      <button class="btn-popup" (click)="showMrn()" title="Select MRN">
        ...
      </button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-3>
      <div class="label">Name:</div>
    </ion-col>
    <ion-col col-md-5>
      <input type="text" class="form-control" [(ngModel)]="searchModel.patientName">
      <!-- <div class="form-control div-style">
          <span *ngFor="let item of searchModel.patientNameSelectedArray;let i= index" class="btn btn-outline-tag" style="margin-right:5px;"> {{item.name}} <a (click)="deletePatientName(i)">x</a></span>
      </div> -->
    </ion-col>
    <ion-col col-1>          
      <button class="btn-popup" (click)="showPatientNames()" title="Select Patient Name">
        ...
      </button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-3>
      <div class="label">Req. Location:</div>
    </ion-col>
    <ion-col col-md-5>
      <input type="text" class="form-control" [(ngModel)]="searchModel.reqLocation">
      <!-- <div class="form-control div-style">
          <span *ngFor="let item of searchModel.locationSelectedArray;let i= index" class="btn btn-outline-tag" style="margin-right:5px;"> {{item.location}} <a (click)="deleteLocation(i)">x</a></span>
      </div> -->
    </ion-col>
    <ion-col col-1>      
      <button class="btn-popup" (click)="showLocation()" title="Select Location">
        ...
      </button>
    </ion-col>
    <!-- showLocation -->
  </ion-row>
</ion-grid>