// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
$sm-width: 480px;
$med-width: 640px;
$large-width: 1024px;
$phone-width: 480px;
$tablet-portait-width: 768px;
$tablet-landscape-width: 1024px;
@mixin respond-to($media) {
    @if $media==handhelds {
        @media only screen and (max-width: $sm-width) {
            @content;
        }
    }
    @else if $media==medium-screens {
        @media only screen and (min-width: $sm-width + 1) and (max-width: $large-width - 1) {
            @content;
        }
    }
    @else if $media==wide-screens {
        @media only screen and (min-width: $large-width) {
            @content;
        }
    }
}



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.




$colors: (
    primary: #005BAC,
    secondary: #009944,
    danger:     #f53d3d,
    stat:     #d84b0a,
    stat-hover:     #c0270c,
    light: #f4f4f4,
    dark: #222,
    mid:#888,
    dark-blue:( base: #11355a, contrast: #fff),
    accent-blue:#3f89c2,
    light-blue:#09bcef,
    clear:transparent,
    blanco: ( base: #fff, contrast: #004f7e),
    subhead: ( base: #3f89c2, contrast: #fff));


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


//Angular Material
// --------------------------------------------------
// Custom Angular Material Theme
// https://material.angular.io/guide/theming

@import '@angular/material/theming.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-deep-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);


// Fonts
// --------------------------------------------------


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i);
@import "roboto";
@import "noto-sans";
$font-family-md-base:'Open Sans',
Arial,
Helvetica Neue,
Roboto,
sans-serif;

 



// @import 'bootstrap/scss/bootstrap.scss';
