@font-face {
  font-family: 'mysysmex';
  src: url('../assets/fonts/mysysmex.eot');
  src: url('../assets/fonts/mysysmex.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/mysysmex.ttf') format('truetype'),
    url('../assets/fonts/mysysmex.woff') format('woff'),
    url('../assets/fonts/mysysmex.svg#mysysmexfont') format('svg');
  font-weight: 400;
  font-style: normal;
}

@mixin make-icon($arg, $val, $family: 'mysysmex') {
  .ion-ios-#{$arg}:before,
  .ion-ios-#{$arg}-circle:before,
  .ion-ios-#{$arg}-circle-outline:before,
  .ion-ios-#{$arg}-outline:before,
  .ion-md-#{$arg}:before,
  .ion-md-#{$arg}-circle:before,
  .ion-md-#{$arg}-circle-outline:before,
  .ion-md-#{$arg}-outline:before {
    font-family: $family;
    content: $val;
    font-size: inherit;
  }
}

@mixin make-icons8($arg, $val) {
  .ion-ios-#{$arg}:before,
  .ion-ios-#{$arg}-circle:before,
  .ion-ios-#{$arg}-circle-outline:before,
  .ion-ios-#{$arg}-outline:before,
  .ion-md-#{$arg}:before,
  .ion-md-#{$arg}-circle:before,
  .ion-md-#{$arg}-circle-outline:before,
  .ion-md-#{$arg}-outline:before {
    font-family: 'Unity';
    content: $val;
    font-size: inherit;
  }
}

@include make-icon(smx-wam-outline, '\e902');
@include make-icon(smx-wam, '\e903');
@include make-icon(smx-app-outline, '\e900');
@include make-icon(smx-app, '\e901');
@include make-icon(smx-spinner9, '\e63f');
@include make-icon(smx-spinner, '\e62d');
@include make-icon(smx-radio-button, '\e764');
@include make-icon(smx-radio-button-checked, '\e765');
@include make-icon(smx-spinner3, '\e62f');
@include make-icon(smx-spinner4, '\e63a');
@include make-icon(smx-spinner5, '\e63b');
@include make-icon(smx-spinner6, '\e63c');
@include make-icon(smx-spinner7, '\e63d');
@include make-icon(smx-spinner8, '\e63e');
@include make-icon(smx-spinner2, '\e62e');
@include make-icon(smx-icons8-lift-cart, '\e767');
@include make-icon(smx-icons8-excel2, '\e768');
@include make-icon(smx-icons8-excel, '\e769');
@include make-icon(smx-icons8-excel-outline, '\e76a');
@include make-icon(smx-icons8-work, '\e76b');
@include make-icon(smx-icons8-maintenance, '\e76c');
@include make-icon(smx-glyphish-airplay-selected, '\e64a');
@include make-icon(smx-glyphish-airplay, '\e64b');
@include make-icon(smx-glyphish-arrow-down-selected, '\e716');
@include make-icon(smx-glyphish-arrow-down, '\e64d');
@include make-icon(smx-glyphish-arrow-left-selected, '\e64e');
@include make-icon(smx-glyphish-arrow-left, '\e64f');
@include make-icon(smx-glyphish-arrow-right-selected, '\e65a');
@include make-icon(smx-glyphish-arrow-right, '\e65b');
@include make-icon(smx-glyphish-arrow-up-selected, '\e65c');
@include make-icon(smx-glyphish-arrow-up, '\e65d');
@include make-icon(smx-glyphish-atom-selected, '\e65e');
@include make-icon(smx-glyphish-atom, '\e65f');
@include make-icon(smx-glyphish-bar-chart-selected, '\e66a');
@include make-icon(smx-glyphish-bar-chart, '\e66b');
@include make-icon(smx-glyphish-bell-selected, '\e66c');
@include make-icon(smx-glyphish-bell, '\e66d');
@include make-icon(smx-glyphish-binoculars-selected, '\e66e');
@include make-icon(smx-glyphish-binoculars, '\e66f');
@include make-icon(smx-glyphish-box-selected, '\e67a');
@include make-icon(smx-glyphish-box, '\e67b');
@include make-icon(smx-glyphish-browser-selected, '\e67c');
@include make-icon(smx-glyphish-browser-windows-selected, '\e67d');
@include make-icon(smx-glyphish-browser-windows, '\e67e');
@include make-icon(smx-glyphish-browser, '\e67f');
@include make-icon(smx-glyphish-calculator-selected, '\e68a');
@include make-icon(smx-glyphish-calculator, '\e68b');
@include make-icon(smx-glyphish-calendar-selected, '\e68c');
@include make-icon(smx-glyphish-calendar, '\e68d');
@include make-icon(smx-glyphish-camera-selected, '\e68e');
@include make-icon(smx-glyphish-camera, '\e68f');
@include make-icon(smx-glyphish-chart-selected, '\e692');
@include make-icon(smx-glyphish-chart, '\e69a');
@include make-icon(smx-glyphish-chat-selected, '\e69b');
@include make-icon(smx-glyphish-chat, '\e69c');
@include make-icon(smx-glyphish-clipboard-selected, '\e69d');
@include make-icon(smx-glyphish-clipboard, '\e69e');
@include make-icon(smx-glyphish-cloud-download-selected, '\e69f');
@include make-icon(smx-glyphish-cloud-download, '\e6a0');
@include make-icon(smx-glyphish-cloud-selected, '\e6a1');
@include make-icon(smx-glyphish-cloud-upload-selected, '\e6a2');
@include make-icon(smx-glyphish-cloud-upload, '\e6a3');
@include make-icon(smx-glyphish-cloud, '\e6a4');
@include make-icon(smx-glyphish-compass-selected, '\e6a5');
@include make-icon(smx-glyphish-compass, '\e6a6');
@include make-icon(smx-glyphish-compose-selected, '\e6a7');
@include make-icon(smx-glyphish-compose, '\e6a8');
@include make-icon(smx-glyphish-credit-card-selected, '\e6a9');
@include make-icon(smx-glyphish-credit-card, '\e6aa');
@include make-icon(smx-glyphish-diamond-selected, '\e6ab');
@include make-icon(smx-glyphish-diamond, '\e6ac');
@include make-icon(smx-glyphish-document-1-selected, '\e6ad');
@include make-icon(smx-glyphish-document-1, '\e6ae');
@include make-icon(smx-glyphish-document-2-selected, '\e6af');
@include make-icon(smx-glyphish-document-2, '\e6b0');
@include make-icon(smx-glyphish-documents-selected, '\e6b1');
@include make-icon(smx-glyphish-documents, '\e6b2');
@include make-icon(smx-glyphish-door-selected, '\e6b3');
@include make-icon(smx-glyphish-door, '\e6b4');
@include make-icon(smx-glyphish-download-selected, '\e6b5');
@include make-icon(smx-glyphish-download, '\e6b6');
@include make-icon(smx-glyphish-female-selected, '\e6b7');
@include make-icon(smx-glyphish-female, '\e6b8');
@include make-icon(smx-glyphish-fence-selected, '\e6b9');
@include make-icon(smx-glyphish-fence, '\e6ba');
@include make-icon(smx-glyphish-filing-cabinet-selected, '\e6bb');
@include make-icon(smx-glyphish-filing-cabinet, '\e6bc');
@include make-icon(smx-glyphish-flower-pot-selected, '\e6bd');
@include make-icon(smx-glyphish-flower-pot, '\e6be');
@include make-icon(smx-glyphish-folder-selected, '\e6bf');
@include make-icon(smx-glyphish-folder, '\e6c0');
@include make-icon(smx-glyphish-gauge-selected, '\e6c1');
@include make-icon(smx-glyphish-gauge, '\e6c2');
@include make-icon(smx-glyphish-gear-selected, '\e6c3');
@include make-icon(smx-glyphish-gear, '\e6c4');
@include make-icon(smx-glyphish-globe-selected, '\e6c5');
@include make-icon(smx-glyphish-globe, '\e6c6');
@include make-icon(smx-glyphish-globe2-selected, '\e6c7');
@include make-icon(smx-glyphish-globe2, '\e6c8');
@include make-icon(smx-glyphish-graduation-cap-selected, '\e6c9');
@include make-icon(smx-glyphish-graduation-cap, '\e6ca');
@include make-icon(smx-glyphish-handtruck-selected, '\e6cb');
@include make-icon(smx-glyphish-handtruck, '\e6cc');
@include make-icon(smx-glyphish-home-selected, '\e6cd');
@include make-icon(smx-glyphish-home, '\e6ce');
@include make-icon(smx-glyphish-info-selected, '\e6cf');
@include make-icon(smx-glyphish-info, '\e6d0');
@include make-icon(smx-glyphish-key-selected, '\e6d1');
@include make-icon(smx-glyphish-key, '\e6d2');
@include make-icon(smx-glyphish-lightning-bolt-selected, '\e6d3');
@include make-icon(smx-glyphish-lightning-bolt, '\e6d4');
@include make-icon(smx-glyphish-line-chart-selected, '\e6d5');
@include make-icon(smx-glyphish-line-chart, '\e6d6');
@include make-icon(smx-glyphish-location-pin-selected, '\e6d7');
@include make-icon(smx-glyphish-location-pin, '\e6d8');
@include make-icon(smx-glyphish-location-selected-selected, '\e6d9');
@include make-icon(smx-glyphish-location, '\e6da');
@include make-icon(smx-glyphish-magic-wand-selected, '\e6db');
@include make-icon(smx-glyphish-magic-wand, '\e6dc');
@include make-icon(smx-glyphish-male-selected, '\e6dd');
@include make-icon(smx-glyphish-male, '\e6de');
@include make-icon(smx-glyphish-map-location-selected, '\e6df');
@include make-icon(smx-glyphish-map-location, '\e6e0');
@include make-icon(smx-glyphish-map-selected, '\e6e1');
@include make-icon(smx-glyphish-map, '\e6e2');
@include make-icon(smx-glyphish-mobile-phone-selected, '\e6e3');
@include make-icon(smx-glyphish-mobile-phone, '\e6e4');
@include make-icon(smx-glyphish-newspaper-selected, '\e6e5');
@include make-icon(smx-glyphish-newspaper, '\e6e6');
@include make-icon(smx-glyphish-notepad-selected, '\e6e7');
@include make-icon(smx-glyphish-notepad, '\e6e8');
@include make-icon(smx-glyphish-package-selected, '\e6e9');
@include make-icon(smx-glyphish-package, '\e6ea');
@include make-icon(smx-glyphish-paper-clip-selected, '\e6eb');
@include make-icon(smx-glyphish-paper-clip, '\e6ec');
@include make-icon(smx-glyphish-parcel-selected, '\e6ed');
@include make-icon(smx-glyphish-parcel, '\e6ee');
@include make-icon(smx-glyphish-pencil-selected, '\e6ef');
@include make-icon(smx-glyphish-pencil, '\e6f0');
@include make-icon(smx-glyphish-phone-selected, '\e6f1');
@include make-icon(smx-glyphish-phone, '\e6f2');
@include make-icon(smx-glyphish-photo-2-selected, '\e6f3');
@include make-icon(smx-glyphish-photo-2, '\e6f4');
@include make-icon(smx-glyphish-photos-selected, '\e6f5');
@include make-icon(smx-glyphish-photos, '\e6f6');
@include make-icon(smx-glyphish-pin, '\e6f7');
@include make-icon(smx-glyphish-plus-circle-selected, '\e6f8');
@include make-icon(smx-glyphish-plus-circle, '\e6f9');
@include make-icon(smx-glyphish-plus-selected, '\e6fa');
@include make-icon(smx-glyphish-plus, '\e6fb');
@include make-icon(smx-glyphish-podium-selected, '\e6fc');
@include make-icon(smx-glyphish-podium, '\e6fd');
@include make-icon(smx-glyphish-printer-selected, '\e6fe');
@include make-icon(smx-glyphish-printer, '\e6ff');
@include make-icon(smx-glyphish-question-selected, '\e704');
@include make-icon(smx-glyphish-question, '\e706');
@include make-icon(smx-glyphish-radar-selected, '\e70a');
@include make-icon(smx-glyphish-radar, '\e70b');
@include make-icon(smx-glyphish-recycle-selected, '\e70c');
@include make-icon(smx-glyphish-recycle, '\e70d');
@include make-icon(smx-glyphish-refresh-1-selected, '\e70e');
@include make-icon(smx-glyphish-refresh-1, '\e70f');
@include make-icon(smx-glyphish-refresh-2-selected, '\e71a');
@include make-icon(smx-glyphish-refresh-2, '\e71b');
@include make-icon(smx-glyphish-refresh-3-selected, '\e71c');
@include make-icon(smx-glyphish-refresh-3, '\e71d');
@include make-icon(smx-glyphish-reply-selected, '\e71e');
@include make-icon(smx-glyphish-reply, '\e71f');
@include make-icon(smx-glyphish-road-sign-selected, '\e72a');
@include make-icon(smx-glyphish-road-sign, '\e72b');
@include make-icon(smx-glyphish-rocket-selected, '\e72c');
@include make-icon(smx-glyphish-rocket, '\e72d');
@include make-icon(smx-glyphish-scale-selected, '\e72e');
@include make-icon(smx-glyphish-scale, '\e72f');
@include make-icon(smx-glyphish-scissors-selected, '\e73a');
@include make-icon(smx-glyphish-scissors, '\e73b');
@include make-icon(smx-glyphish-share-selected, '\e73c');
@include make-icon(smx-glyphish-share, '\e73d');
@include make-icon(smx-glyphish-shield-selected, '\e73e');
@include make-icon(smx-glyphish-shield, '\e73f');
@include make-icon(smx-glyphish-ships-wheel-selected, '\e746');
@include make-icon(smx-glyphish-ships-wheel, '\e747');
@include make-icon(smx-glyphish-signpost-selected, '\e748');
@include make-icon(smx-glyphish-signpost, '\e749');
@include make-icon(smx-glyphish-sort-ascending-selected, '\e74a');
@include make-icon(smx-glyphish-sort-ascending, '\e74b');
@include make-icon(smx-glyphish-sort-descending-selected, '\e74c');
@include make-icon(smx-glyphish-sort-descending, '\e74d');
@include make-icon(smx-glyphish-stack-1-selected, '\e74e');
@include make-icon(smx-glyphish-stack-1, '\e74f');
@include make-icon(smx-glyphish-stack-2-selected, '\e750');
@include make-icon(smx-glyphish-stack-2, '\e751');
@include make-icon(smx-glyphish-swords-selected, '\e752');
@include make-icon(smx-glyphish-swords, '\e753');
@include make-icon(smx-glyphish-telescope-selected, '\e754');
@include make-icon(smx-glyphish-telescope, '\e755');
@include make-icon(smx-glyphish-thumbs-down-selected, '\e756');
@include make-icon(smx-glyphish-thumbs-down, '\e757');
@include make-icon(smx-glyphish-thumbs-up-selected, '\e758');
@include make-icon(smx-glyphish-thumbs-up, '\e759');
@include make-icon(smx-glyphish-trash-selected, '\e75a');
@include make-icon(smx-glyphish-trash, '\e75b');
@include make-icon(smx-glyphish-user-group-selected, '\e75c');
@include make-icon(smx-glyphish-user-group, '\e75d');
@include make-icon(smx-glyphish-users-selected, '\e75e');
@include make-icon(smx-glyphish-users, '\e75f');
@include make-icon(smx-glyphish-video-camera-selected, '\e760');
@include make-icon(smx-glyphish-video-camera, '\e761');
@include make-icon(smx-glyphish-wrench-selected, '\e762');
@include make-icon(smx-glyphish-wrench, '\e763');
@include make-icon(smx-user-group-selected, '\e60c');
@include make-icon(smx-users-selected, '\e60d');
@include make-icon(smx-cloud-download-selected, '\e60e');
@include make-icon(smx-cloud-upload-selected, '\e60f');
@include make-icon(smx-navigate, '\e61a');
@include make-icon(smx-photo2, '\e61b');
@include make-icon(smx-signpost-selected, '\e61c');
@include make-icon(smx-user-female-selected, '\e61d');
@include make-icon(smx-user-female, '\e61e');
@include make-icon(smx-user-male-selected, '\e61f');
@include make-icon(smx-user-male, '\e62a');
@include make-icon(smx-x-round, '\e62b');
@include make-icon(smx-x-circle, '\e62c');
@include make-icon(smx-header-sticky, '\e600');
@include make-icon(smx-header-help, '\e601');
@include make-icon(smx-header-feedback, '\e602');
@include make-icon(smx-header-notifications, '\e603');
@include make-icon(smx-footer-home, '\e604');
@include make-icon(smx-footer-analyzers, '\e605');
@include make-icon(smx-footer-education, '\e606');
@include make-icon(smx-footer-services, '\e607');
@include make-icon(smx-footer-how-to, '\e608');
@include make-icon(smx-footer-more, '\e609');
@include make-icon(smx-education-realtime, '\e610');
@include make-icon(smx-education-workbooks, '\e611');
@include make-icon(smx-education-videos, '\e612');
@include make-icon(smx-education-bulletins, '\e613');
@include make-icon(smx-education-brochures, '\e614');
@include make-icon(smx-education-brochures2, '\e615');
@include make-icon(smx-education-brochures3, '\e616');
@include make-icon(smx-education-journals, '\e617');
@include make-icon(smx-education-guides, '\e618');
@include make-icon(smx-education-scattergrams, '\e64c');
@include make-icon(smx-education-webinars, '\e619');
@include make-icon(smx-education-clinical, '\e620');
@include make-icon(smx-education-faqs, '\e621');
@include make-icon(smx-services-eta, '\e622');
@include make-icon(smx-services-ebc, '\e623');
@include make-icon(smx-services-ebm, '\e624');
@include make-icon(smx-services-summary, '\e625');
@include make-icon(smx-services-history, '\e626');
@include make-icon(smx-services-fsr, '\e627');
@include make-icon(smx-services-messages, '\e628');
@include make-icon(smx-services-orders, '\e629');
@include make-icon(smx-services-esupply, '\e630');
@include make-icon(smx-services-contact, '\e631');
@include make-icon(smx-services-qc-exceptions, '\e632');
@include make-icon(smx-services-qc-reports, '\e633');
@include make-icon(smx-services-qc-reports2, '\e634');
@include make-icon(smx-more-impersonate, '\e635');
@include make-icon(smx-more-preferences, '\e636');
@include make-icon(smx-more-sds, '\e637');
@include make-icon(smx-more-check-for-update, '\e638');
@include make-icon(smx-more-account, '\e639');
@include make-icon(smx-switches, '\e643');
@include make-icon(smx-news, '\e644');
@include make-icon(smx-logo-icon, '\e645');
@include make-icon(smx-logo, '\e646');
@include make-icon(smx-gear, '\e647');
@include make-icon(smx-wrench, '\e648');
@include make-icon(smx-phone, '\e649');
@include make-icon(smx-cloud, '\e650');
@include make-icon(smx-wifi, '\e651');
@include make-icon(smx-present, '\e652');
@include make-icon(smx-layout, '\e653');
@include make-icon(smx-edit, '\e654');
@include make-icon(smx-circled-info, '\e655');
@include make-icon(smx-gauge, '\e656');
@include make-icon(smx-alarm-clock, '\e657');
@include make-icon(smx-doc-open, '\e658');
@include make-icon(smx-doc-download, '\e659');
@include make-icon(smx-doc-update, '\e660');
@include make-icon(smx-doc-downloading, '\e661');
@include make-icon(smx-download, '\e662');
@include make-icon(smx-notepad, '\e663');
@include make-icon(smx-doc-empty, '\e664');
@include make-icon(smx-doc-empty2, '\e665');
@include make-icon(smx-workbook-outline, '\e666');
@include make-icon(smx-calendar, '\e667');
@include make-icon(smx-calendar-blank, '\e668');
@include make-icon(smx-bookmark, '\e669');
@include make-icon(smx-tablet, '\e670');
@include make-icon(smx-medal, '\e671');
@include make-icon(smx-medal2, '\e672');
@include make-icon(smx-beaker, '\e673');
@include make-icon(smx-no-sign, '\e674');
@include make-icon(smx-key, '\e675');
@include make-icon(smx-box-open, '\e676');
@include make-icon(smx-box-closed, '\e677');
@include make-icon(smx-paperclip, '\e678');
@include make-icon(smx-map-marker, '\e679');
@include make-icon(smx-map-folded, '\e680');
@include make-icon(smx-medal2, '\e681');
@include make-icon(smx-pushpin, '\e682');
@include make-icon(smx-power, '\e683');
@include make-icon(smx-plus, '\e684');
@include make-icon(smx-minus, '\e685');
@include make-icon(smx-users, '\e686');
@include make-icon(smx-umbrella, '\e687');
@include make-icon(smx-tie, '\e688');
@include make-icon(smx-briefcase, '\e689');
@include make-icon(smx-shield, '\e690');
@include make-icon(smx-play, '\e691');
@include make-icon(smx-checkbox-checked, '\e693');
@include make-icon(smx-refresh, '\e694');
@include make-icon(smx-chart, '\e695');
@include make-icon(smx-chart2, '\e696');
@include make-icon(smx-chart3, '\e697');
@include make-icon(smx-chart4, '\e698');
@include make-icon(smx-chart5, '\e699');
@include make-icon(smx-menu4, '\e700');
@include make-icon(smx-menu2, '\e701');
@include make-icon(smx-menu3, '\e702');
@include make-icon(smx-menu, '\e703');
@include make-icon(smx-pressure, '\e705');
@include make-icon(smx-idea2, '\e707');
@include make-icon(smx-service-tech, '\e708');
@include make-icon(smx-analyzers, '\e709');
@include make-icon(smx-checkbox, '\e60b');
@include make-icon(smx-checkbox-checked2, '\e711');
@include make-icon(smx-checkbox-checked-outline, '\e710');
@include make-icon(smx-checkbox-dotted, '\e712');
@include make-icon(smx-arrow-down, '\e713');
@include make-icon(smx-camera, '\e714');
@include make-icon(smx-rotate, '\e715');
@include make-icon(smx-new, '\e766');
@include make-icon(smx-doc-contract, '\e717');
@include make-icon(smx-gear2, '\e718');
@include make-icon(smx-book, '\e719');
@include make-icon(smx-book2, '\e720');
@include make-icon(smx-book3, '\e721');
@include make-icon(smx-book4, '\e722');
@include make-icon(smx-clipboard, '\e723');
@include make-icon(smx-clipboard-written, '\e724');
@include make-icon(smx-photo, '\e725');
@include make-icon(smx-photos, '\e726');
@include make-icon(smx-tag, '\e727');
@include make-icon(smx-globe, '\e728');
@include make-icon(smx-trophy, '\e729');
@include make-icon(smx-lock-open, '\e730');
@include make-icon(smx-lock-closed, '\e731');
@include make-icon(smx-reminder, '\e732');
@include make-icon(smx-not-favorite, '\e733');
@include make-icon(smx-is-favorite, '\e734');
@include make-icon(smx-sticky, '\e735');
@include make-icon(smx-sticky-outline, '\e736');
@include make-icon(smx-warning, '\e737');
@include make-icon(smx-lifesaver, '\e738');
@include make-icon(smx-help, '\e739');
@include make-icon(smx-rate-down, '\e740');
@include make-icon(smx-rate-up, '\e741');
@include make-icon(smx-rate-down-outline, '\e742');
@include make-icon(smx-rate-up-outline, '\e743');
@include make-icon(smx-approve, '\e744');
@include make-icon(smx-idea, '\e745');
@include make-icon(smx-dot, '\e60a');
@include make-icon(smx-cloud-download, '\e640');
@include make-icon(smx-share, '\e642');
@include make-icon(smx-share-selected, '\e641');
@include make-icon(i8-account, $icons8-var-account, 'Unity');
@include make-icon(i8-account-filled, $icons8-var-account-filled, 'Unity');
@include make-icon(i8-add-to-favorites, $icons8-var-add-to-favorites, 'Unity');
@include make-icon(
  i8-add-to-favorites-filled,
  $icons8-var-add-to-favorites-filled,
  'Unity'
);
@include make-icon(
  i8-administrative-tools,
  $icons8-var-administrative-tools,
  'Unity'
);
@include make-icon(
  i8-administrative-tools-filled,
  $icons8-var-administrative-tools-filled,
  'Unity'
);
@include make-icon(i8-approval, $icons8-var-approval, 'Unity');
@include make-icon(i8-approval-filled, $icons8-var-approval-filled, 'Unity');
@include make-icon(
  i8-area-chart-filled,
  $icons8-var-area-chart-filled,
  'Unity'
);
@include make-icon(i8-bar-chart, $icons8-var-bar-chart, 'Unity');
@include make-icon(i8-bar-chart-filled, $icons8-var-bar-chart-filled, 'Unity');
@include make-icon(i8-barcode-scanner, $icons8-var-barcode-scanner, 'Unity');
@include make-icon(
  i8-barcode-scanner-2,
  $icons8-var-barcode-scanner-2,
  'Unity'
);
@include make-icon(i8-book, $icons8-var-book, 'Unity');
@include make-icon(i8-case, $icons8-var-case, 'Unity');
@include make-icon(i8-case-2, $icons8-var-case-2, 'Unity');
@include make-icon(i8-case-study-2, $icons8-var-case-study-2, 'Unity');
@include make-icon(i8-classroom, $icons8-var-classroom, 'Unity');
@include make-icon(i8-classroom-filled, $icons8-var-classroom-filled, 'Unity');
@include make-icon(i8-clipboard, $icons8-var-clipboard, 'Unity');
@include make-icon(i8-clipboard-2, $icons8-var-clipboard-2, 'Unity');
@include make-icon(i8-close-window, $icons8-var-close-window, 'Unity');
@include make-icon(
  i8-close-window-filled,
  $icons8-var-close-window-filled,
  'Unity'
);
@include make-icon(i8-cloud, $icons8-var-cloud, 'Unity');
@include make-icon(i8-cloud-filled, $icons8-var-cloud-filled, 'Unity');
@include make-icon(i8-combo-chart, $icons8-var-combo-chart, 'Unity');
@include make-icon(
  i8-combo-chart-filled,
  $icons8-var-combo-chart-filled,
  'Unity'
);
@include make-icon(i8-comments, $icons8-var-comments, 'Unity');
@include make-icon(i8-comments-filled, $icons8-var-comments-filled, 'Unity');
@include make-icon(i8-course, $icons8-var-course, 'Unity');
@include make-icon(i8-course-filled, $icons8-var-course-filled, 'Unity');
@include make-icon(i8-customer, $icons8-var-customer, 'Unity');
@include make-icon(i8-customer-filled, $icons8-var-customer-filled, 'Unity');
@include make-icon(i8-diploma, $icons8-var-diploma, 'Unity');
@include make-icon(i8-diploma-filled, $icons8-var-diploma-filled, 'Unity');
@include make-icon(i8-do-not-disturb, $icons8-var-do-not-disturb, 'Unity');
@include make-icon(
  i8-do-not-disturb-filled,
  $icons8-var-do-not-disturb-filled,
  'Unity'
);
@include make-icon(i8-download, $icons8-var-download, 'Unity');
@include make-icon(i8-download-filled, $icons8-var-download-filled, 'Unity');
@include make-icon(
  i8-download-from-cloud,
  $icons8-var-download-from-cloud,
  'Unity'
);
@include make-icon(
  i8-download-from-cloud-filled,
  $icons8-var-download-from-cloud-filled,
  'Unity'
);
@include make-icon(
  i8-download-from-the-cloud,
  $icons8-var-download-from-the-cloud,
  'Unity'
);
@include make-icon(
  i8-download-from-the-cloud-filled,
  $icons8-var-download-from-the-cloud-filled,
  'Unity'
);
@include make-icon(i8-e-learning, $icons8-var-e-learning, 'Unity');
@include make-icon(
  i8-e-learning-filled,
  $icons8-var-e-learning-filled,
  'Unity'
);
@include make-icon(i8-error, $icons8-var-error, 'Unity');
@include make-icon(i8-error-filled, $icons8-var-error-filled, 'Unity');
@include make-icon(i8-experiment, $icons8-var-experiment, 'Unity');
@include make-icon(i8-experiment-2, $icons8-var-experiment-2, 'Unity');
@include make-icon(i8-female-profile, $icons8-var-female-profile, 'Unity');
@include make-icon(
  i8-female-profile-filled,
  $icons8-var-female-profile-filled,
  'Unity'
);
@include make-icon(i8-fishing-boat, $icons8-var-fishing-boat, 'Unity');
@include make-icon(
  i8-fishing-boat-filled,
  $icons8-var-fishing-boat-filled,
  'Unity'
);
@include make-icon(i8-flow-chart, $icons8-var-flow-chart, 'Unity');
@include make-icon(
  i8-flow-chart-filled,
  $icons8-var-flow-chart-filled,
  'Unity'
);
@include make-icon(i8-help, $icons8-var-help, 'Unity');
@include make-icon(i8-help-filled, $icons8-var-help-filled, 'Unity');
@include make-icon(i8-hierarchy, $icons8-var-hierarchy, 'Unity');
@include make-icon(i8-hierarchy-filled, $icons8-var-hierarchy-filled, 'Unity');
@include make-icon(i8-high-priority, $icons8-var-high-priority, 'Unity');
@include make-icon(
  i8-high-priority-filled,
  $icons8-var-high-priority-filled,
  'Unity'
);
@include make-icon(i8-increase, $icons8-var-increase, 'Unity');
@include make-icon(i8-increase-filled, $icons8-var-increase-filled, 'Unity');
@include make-icon(i8-journal, $icons8-var-journal, 'Unity');
@include make-icon(i8-journal-2, $icons8-var-journal-2, 'Unity');
@include make-icon(
  i8-light-bulb-outline,
  $icons8-var-light-bulb-outline,
  'Unity'
);
@include make-icon(
  i8-line-chart-filled,
  $icons8-var-line-chart-filled,
  'Unity'
);
@include make-icon(i8-lock, $icons8-var-lock, 'Unity');
@include make-icon(i8-lock-filled, $icons8-var-lock-filled, 'Unity');
@include make-icon(i8-logs, $icons8-var-logs, 'Unity');
@include make-icon(i8-logs-2, $icons8-var-logs-2, 'Unity');
@include make-icon(i8-male-user-filled, $icons8-var-male-user-filled, 'Unity');
@include make-icon(i8-microscope, $icons8-var-microscope, 'Unity');
@include make-icon(i8-microscope-2, $icons8-var-microscope-2, 'Unity');
@include make-icon(i8-name, $icons8-var-name, 'Unity');
@include make-icon(i8-name-filled, $icons8-var-name-filled, 'Unity');
@include make-icon(i8-new, $icons8-var-new, 'Unity');
@include make-icon(i8-new-filled, $icons8-var-new-filled, 'Unity');
@include make-icon(i8-new-product, $icons8-var-new-product, 'Unity');
@include make-icon(
  i8-new-product-filled,
  $icons8-var-new-product-filled,
  'Unity'
);
@include make-icon(i8-phone, $icons8-var-phone, 'Unity');
@include make-icon(i8-phone-filled, $icons8-var-phone-filled, 'Unity');
@include make-icon(i8-play-button, $icons8-var-play-button, 'Unity');
@include make-icon(
  i8-play-button-filled,
  $icons8-var-play-button-filled,
  'Unity'
);
@include make-icon(i8-private, $icons8-var-private, 'Unity');
@include make-icon(i8-private-filled, $icons8-var-private-filled, 'Unity');
@include make-icon(i8-protect, $icons8-var-protect, 'Unity');
@include make-icon(i8-protect-filled, $icons8-var-protect-filled, 'Unity');
@include make-icon(i8-prototype, $icons8-var-prototype, 'Unity');
@include make-icon(i8-prototype-filled, $icons8-var-prototype-filled, 'Unity');
@include make-icon(i8-quality, $icons8-var-quality, 'Unity');
@include make-icon(i8-quality-2, $icons8-var-quality-2, 'Unity');
@include make-icon(i8-questions, $icons8-var-questions, 'Unity');
@include make-icon(i8-questions-filled, $icons8-var-questions-filled, 'Unity');
@include make-icon(i8-scatter-plot, $icons8-var-scatter-plot, 'Unity');
@include make-icon(
  i8-scatter-plot-filled,
  $icons8-var-scatter-plot-filled,
  'Unity'
);
@include make-icon(i8-schedule, $icons8-var-schedule, 'Unity');
@include make-icon(i8-schedule-2, $icons8-var-schedule-2, 'Unity');
@include make-icon(i8-search-property, $icons8-var-search-property, 'Unity');
@include make-icon(
  i8-search-property-2,
  $icons8-var-search-property-2,
  'Unity'
);
@include make-icon(i8-secure, $icons8-var-secure, 'Unity');
@include make-icon(i8-secure-filled, $icons8-var-secure-filled, 'Unity');
@include make-icon(i8-sent, $icons8-var-sent, 'Unity');
@include make-icon(i8-settings, $icons8-var-settings, 'Unity');
@include make-icon(i8-settings-filled, $icons8-var-settings-filled, 'Unity');
@include make-icon(i8-shield, $icons8-var-shield, 'Unity');
@include make-icon(i8-shield-filled, $icons8-var-shield-filled, 'Unity');
@include make-icon(i8-support, $icons8-var-support, 'Unity');
@include make-icon(i8-support-filled, $icons8-var-support-filled, 'Unity');
@include make-icon(i8-synchronize, $icons8-var-synchronize, 'Unity');
@include make-icon(
  i8-synchronize-filled,
  $icons8-var-synchronize-filled,
  'Unity'
);
@include make-icon(i8-tasks, $icons8-var-tasks, 'Unity');
@include make-icon(i8-tasks-2, $icons8-var-tasks-2, 'Unity');
@include make-icon(i8-thumbnails, $icons8-var-thumbnails, 'Unity');
@include make-icon(
  i8-thumbnails-filled,
  $icons8-var-thumbnails-filled,
  'Unity'
);
@include make-icon(i8-timeline, $icons8-var-timeline, 'Unity');
@include make-icon(i8-timeline-2, $icons8-var-timeline-2, 'Unity');
@include make-icon(i8-to-do, $icons8-var-to-do, 'Unity');
@include make-icon(i8-training, $icons8-var-training, 'Unity');
@include make-icon(i8-training-filled, $icons8-var-training-filled, 'Unity');
@include make-icon(i8-tree-structure, $icons8-var-tree-structure, 'Unity');
@include make-icon(
  i8-tree-structure-filled,
  $icons8-var-tree-structure-filled,
  'Unity'
);
@include make-icon(
  i8-upload-to-the-cloud,
  $icons8-var-upload-to-the-cloud,
  'Unity'
);
@include make-icon(
  i8-upload-to-the-cloud-filled,
  $icons8-var-upload-to-the-cloud-filled,
  'Unity'
);
@include make-icon(i8-video-interview, $icons8-var-video-interview, 'Unity');
@include make-icon(
  i8-video-interview-2,
  $icons8-var-video-interview-2,
  'Unity'
);
@include make-icon(i8-view-details, $icons8-var-view-details, 'Unity');
@include make-icon(
  i8-view-details-filled,
  $icons8-var-view-details-filled,
  'Unity'
);
@include make-icon(i8-webinar, $icons8-var-webinar, 'Unity');
@include make-icon(i8-webinar-filled, $icons8-var-webinar-filled, 'Unity');
@include make-icon(i8-work, $icons8-var-work, 'Unity');
@include make-icon(i8-work-filled, $icons8-var-work-filled, 'Unity');
