.container-h {
    display: -ms-flexbox;
    display: flex;
    flex-flow: row nowrap;
}

.container-v {
    display: -ms-flexbox;
    display: flex;
    flex-flow: column nowrap;
}

.container-h.wrap,
.container-v.wrap {
    flex-wrap: wrap;
}

.container-v.gap>*:not(:first-child):not(:empty) {
    margin-top: 0.5em;
}

.container-h.gap>*:not(:first-child):not(:empty) {
    margin-left: 0.5em;
}

.content-flex {
    flex: 1 1 auto;
}

.items-end {
    -ms-flex-align: end;
    align-items: flex-end;
}

.items-start {
    -ms-flex-align: start;
    align-items: flex-start;
}

.items-stretch {
    -ms-flex-align: stretch;
    align-items: stretch;
}

.items-center {
    -ms-flex-align: center;
    align-items: center;
}

.align-end {
    align-content: flex-end;
}

.align-start {
    align-content: flex-start;
}

.align-center {
    align-content: center;
}

.align-between {
    align-content: space-between;
}

.align-around {
    align-content: space-around;
}

.justify-end {
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.justify-start {
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.justify-center {
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-between {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.justify-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.self-auto {
    align-self: auto;
}

.self-baseline {
    align-self: baseline;
}

.self-center {
    align-self: center;
}

.self-end {
    align-self: flex-end;
}

.self-start {
    align-self: flex-start;
}

.self-stretch {
    align-self: stretch;
}

@import 'node_modules/flexboxgrid-sass/dist/flexboxgrid';
