// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
img.sysmex-logo {
    max-height: none;
    max-width: none;
    width: 105px;
    height: 32px;
}

ion-navbar.unity {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.unity-nav-tabs {
    display: flexbox;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    .tabbar.show-tabbar {
        justify-content: center;
        background: color($colors, dark-blue);
        box-shadow: none;
    }
    .tabbar.show-tabbar:after{
        content:'';
        min-height:inherit;
        font-size:0;
    }
    // .show-tabbar.tabbar::after {
    //     background: transparent;
    // }
    .tab-button.has-title-only>.tab-button-text {
        line-height: normal;
    }
    .tab-button {
        display: -ms-flex;
        display: flex;

        -ms-flex-align: center;
        align-items: center;

        flex: 0 0 auto;
        color: rgba(255, 255, 255, 0.8);
        padding: 0 1em;
        margin: 0 .5em;
        .tab-button-text {
            font-size: 1.1em;
        }
    }
    .tab-button[aria-selected=true] {
        color: rgba(255, 255, 255, 1);
        .tab-button-text {
            padding-bottom: 2px;
            border-bottom: 1px solid white;
        }
    }
}

.ion-page {
    .content {
        background-color: #f4f4f4;
        .mat-radio-button.mat-accent.mat-radio-checked {
            .mat-radio-outer-circle {
                border-color: color($colors, primary);
            }
            .mat-radio-inner-circle {
                background-color: color($colors, primary);
            }
        }
        .mat-radio-button:not(:first-child) {
            margin-left: 1em;
        }
    }
    .content-col {
        background-color: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        overflow: hidden;
        box-shadow: 0 2px 32px 1px rgba(0, 0, 0, 0.3);
        display: flex;
        flex: 0 1 auto;
        flex-flow: column nowrap;
        align-content: stretch;
        align-items: stretch;
        min-height: 100%;
        margin: 0 auto;
        width: 75vw;
        margin-top: 3em;
        ngx-datatable.material.ngx-datatable.fixed-header.selectable.checkbox-selection {
            width: auto;
        }
        .select {
            max-width: none;
        }
        .select .select-icon {
            margin-left: 4px;
            margin-top: 2px;
            .select-icon-inner {
                display: none;
            }
        }

        .select .select-icon:before {
            content: "\f3d0";
            font-family: Ionicons;
            font-size: 18px;
            line-height: 1;
        }
        @media only screen and (max-width: 640px) {
            width: 92vw;
            margin-top: .5em;
        }
        .splash {
            display: flex;
            flex: 0 1 auto;
            flex-flow: column nowrap;
            align-content: stretch;
            align-items: stretch;
            //background: color($colors, primary);
            //background: #04612D;
            background: #9AD85F;
            color: #fff;
            padding: 1em;
            min-height: 60vh;
            @media only screen and (max-width: 640px) {
                width: 92vw;
            }
        }
        .splash.status-ok {
            background: #9AD85F;
            color: #fff;
            .button {
                color: #fff;
            }
        }
        .splash.status-warn {
            background: rgb(243, 219, 4);
            color: #333;
            .button {
                color: #333;
                border-color: #333;
            }
        }
        .splash.status-error {
            background: color($colors, danger);
            color: #fff;
            .button {
                color: #fff;
            }
        }
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

.footer-text{
    padding: 0 2em;
    color: #fff;
}
    
@import 'app.flexbox';
@import 'icons8/styles';
@import 'app.fonts';


.border-top{
    border-top: 1px solid #3475b5;
    box-shadow: 0px 0px 0.1px grey;
    line-height: 44px;
    background-color: #fff;
}

.title-page{
    font-weight:  lighter;
    font-size: 30px;
    color: #005bac;
    padding-top:10px;
    padding-bottom: 15px;
    line-height: 20px;
}
.form-control{
    display: block;
    width: 100%;
    padding: 0.75rem 0.75rem;
    /*font-size: 1rem;*/
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.form-control:focus{
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 123, 255, 0.25) 0px 0px 0px 0.2rem;
    border-color: rgb(128, 189, 255);
    outline: 0px;
}
.label{
    font-family: "Open Sans", Arial, Helvetica Neue, Roboto, sans-serif;
    font-size: 15px;
    color: #999999;
}
// table
table{
    width: 100%;
    th,td{
        text-align: left;
        padding: 15px 15px;
    }
}
// .table-striped tbody tr:nth-of-type(odd){
//     background-color: rgba(0, 0, 0, 0);
// }
// .table-striped tbody tr:nth-of-type(even){
//     background-color: rgba(0, 0, 0, 0.05);
// }
thead tr{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: #005bac;
    font-size: 12px;
    color: #fff;
    //height: 56px;
}
tbody tr{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
}
thead{
    background-color: #005bac;
}

tbody td:first-child, thead th:first-child {
    padding-left:24px;
}
thead tr td {
    padding: 20px 15px 20px;   
}
// tbody tr:hover{
//     background-color: rgba(205, 224, 246, 0.75)!important ;
// }
 


//panel
.panel-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    color: #005bac;
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.75rem 1.5rem;;
    /*font-size: 1rem;*/
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.btn-outline-tag {
    color: #495057;
    background-color: transparent;
    background-image: none;
    border-color: rgb(203, 237, 54) !important;
    margin-bottom: 5px;
    padding: 0.2rem 1rem !important;
}
.btn-outline-tag a:hover {
    cursor: pointer; 
}
.div-style{
    min-height: 38px;
    max-height: 100px;
    overflow-y: auto;
}
.pull-right{
    text-align: right;
}
//
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #005bac !important;
  }

  .table-striped tr{
    border-bottom: 1px rgba(0,0,0,.12) solid;
  }
  .table-striped{
    border-left: 1px rgba(0,0,0,.12) solid;
    border-right: 1px rgba(0,0,0,.12) solid;
  }
  
  .btn-popup{
      font-size: 22px;
      background-color: transparent;
      font-weight: 700;
  }
  .btn-popup:hover{
      color:#999;
  }
  .alert-button{
      text-transform: none !important;
  }

  .alert-message{
    overflow-y: hidden !important;
    color: #000 !important;
  }

  .error-alert{
      border: 1px red solid;
  }
  .button-md {    
    text-transform: capitalize !important;
    }

    ion-footer{
        .toolbar-md {
            padding: 4px;
            font-size: 12px;
             min-height: 0px;
        }
    }