hero-welcome {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em 0;
    .salutation {
        color: #fff;
        font-size: 3em;
        font-weight: bold;
        line-height: 1;
        margin: 0;
    }
    .hero-status:empty {
        margin: 0;
        padding: 0;
    }
    .hero-status {
        color: rgba($color: #fff, $alpha: .9);
        font-size: 1.2em;
        line-height: normal;
        margin: 0.5em 0;
    }
    .hero-search {
        margin: 3em 0;
        margin-bottom: 2em;
        color: #fff;
        align-items: center;
        border-bottom: 1px solid #fff;
        min-width: 60vw;
        .input {
            font-size: 1.8em;
        }
        input::placeholder {
            color: #fff;
            font-style: italic;
        }
        input:focus::-webkit-input-placeholder {
            color: transparent;
        }
        input:focus:-moz-placeholder {
            color: transparent;
        }
        /* FF 4-18 */
        input:focus::-moz-placeholder {
            color: transparent;
        }
        /* FF 19+ */
        input:focus:-ms-input-placeholder {
            color: transparent;
        }
        /* IE 10+ */
        .icon {
            font-size: 1.5em;
        }
    }
}
