<!-- Generated template for the HeroWelcomeComponent component -->
<div class="container-v justify-center align-center">
  <h1 class="salutation">{{salutation}}</h1>
  <p class="hero-status">{{heroStatus}}</p>
  <div margin-top class="hero-search container-h">
      <ion-input placeholder="{{prompt}}" [(ngModel)]="query"></ion-input>
      <button ion-button icon-only clear color="light" (click)="search()">
          <ion-icon name="search"></ion-icon>
        </button>
  </div>
</div>
