<ion-header>
  <ion-navbar color="white" class="unity">
    <unity-nav></unity-nav>
  </ion-navbar>
</ion-header>
<ion-content class="rule-wizard " padding>
  <div class="container-h content-flex">
    <div class="title-page">
      Rule wizard
    </div>
  </div>

  <div class="container-h content-flex">
    <ion-grid>
      <ion-row>
        <ion-col col-3 class="left-container">
          <div class="selection-criteria border-top" padding>
            <div class="panel-title">Selection Criteria</div>
            <span class="step">Common Criteria</span>
            <br>
            <span class="attribute"> Rule name: </span>
            <span>{{searchModel.ruleName}}</span>
            <br>
            <span class="attribute"> Discipline: </span>
            <span *ngIf="searchModel.discipline>0">{{searchModel.discipline==1?"Hematology":"Chemistry"}}</span>
            <br>
            <span class="attribute"> Active status: </span>
            <span *ngIf="searchModel.activeMode>0">{{searchModel.activeMode==1?"Active":"Inactive"}}</span>
            <br>
            <span class="attribute"> Trigger on: </span>
            <span *ngIf="searchModel.triggerOn>0">{{searchModel.triggerOn==1?"Order creation":"Results"}}</span>
            <br>
            <hr>
            <span class="step">Patient Demographics</span>
            <br>
            <span class="attribute"> Patient Type: </span>
            <span *ngIf="searchModel.patientType>0">{{searchModel.patientType==1?"In patient":"Out patient"}}</span>
            <br>
            <span class="attribute"> Gender: </span>
            <span *ngIf="searchModel.gender>0">{{searchModel.gender==1?"Male":"Female"}}</span>
            <br>
            <span class="attribute"> MRN: </span>
            <span>{{searchModel.mrn}}</span>
            <br>
            <span class="attribute"> Name: </span>
            <span>{{searchModel.patientName}}</span>
            <br>
            <span class="attribute"> Req. Location: </span>
            <span>{{searchModel.reqLocation}}</span>
            <br>
            <hr>
            <span class="step">Test Level</span>
            <br>
            <!-- <ul>
              <li>
                <span>{{searchModel.testCode.toString()}}</span>
              </li>
            </ul>  class="attribute"-->
            <ul *ngIf="(searchModel.testCode.length>0)">
              <li >
                <span *ngFor="let item of searchModel.testCode; let i = index;">{{item.testCode}}<span *ngIf="i != (searchModel.testCode.length - 1)">, </span> </span>
              </li>
            </ul>
            <br>

          </div>

        </ion-col>
        <ion-col col-9 class="rule-wizard-body">
          <step-tab (onSelectStep)="selectStep($event)"></step-tab>
          <step1-set-global-properties class="contentTab" id="contentTab1" [(searchModel)]="searchModel"></step1-set-global-properties>
          <step2-patients-demographics class="contentTab collapse" id="contentTab2" [(searchModel)]="searchModel"></step2-patients-demographics>
          <step3-test-level class="contentTab collapse" id="contentTab3"   [(searchModel)]="searchModel"></step3-test-level>

          <step4-search-result class="contentTab collapse" id="contentTab4" 
          [searchResult]="results" 
          [resultsAllData]="resultsAllData"
          [pager]="pager"
          [loading]="isLoading"
          [arrSort] = "arrSort"
          (onUpdateCart)="updateCart($event)"
          (onChangePage)="changePage($event)"></step4-search-result>
          <br>
          <br>
          <br>
          <br>

          <div style="position: absolute;bottom:0;width: 100%;padding-right: 30px; padding-left: 15px;">
            <!-- <hr class="footer"> -->
            <div class=" row rule-wizard-footer">

              <div class="col-md-12">
                <form class="form-inline ">
                  <div class="form-group step-button-1">
                    <button type="button" ion-button style="text-transform: none;" *ngIf="currentStep>1" (click)="backStep()">
                      <span class="text">Back</span>
                    </button>
                    <button type="button" ion-button style="text-transform: none;" *ngIf="currentStep<4" (click)="nextStep()">
                      <span class="text">Next</span>
                    </button>

                  </div>
                  <div class="form-group" style="position: absolute;right:0px;">

                    <button type="button" ion-button outline style="text-transform: none;" *ngIf="currentStep<4" (click)="clear()">
                      <span class="text">Clear</span>
                    </button>
                    <button type="button" ion-button style="text-transform: none;" (click)="search()">
                      <span class="fas fa-list"></span>
                      <span class="text">Search</span>
                    </button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
<ion-footer>
  <unity-footer></unity-footer>
</ion-footer>