page-rule-wizard {
  
    .collapse{
        display: none;
    }
    .rule-wizard{
        
        .selection-criteria{
            box-shadow: 0px 0px 0.1px gray;
            line-height: 44px;
            background-color: #fff;
            // margin-bottom: 10px;
            height: 100%;
        }
       
        .step{ 
            font-weight: bold;
        }
        .attribute{
            font-size: 15px;
            font-weight: lighter;
            color: #222222;
        }
       
        .rule-wizard-body{
            padding:  0px;
            background-color: #fff;
            width: 100%;
            box-shadow: 0px 0px 0.1px gray;

        }

    }

    .nav{
        margin-top: 0px;
    }
    .enable-hover a:hover {
        opacity: 1 !important;
    }
    .btn{
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.75rem 1.5rem;;
        /*font-size: 1rem;*/
        line-height: 1.5;
        border-radius: 0.25rem;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    .btn-primary {
        color: #fff;
        background-color: #005BAC;
        border-color: #005BAC;
    }
    
    .btn-outline-primary {
        color: #005BAC;
        background-color: transparent;
        background-image: none;
        border-color: #005BAC;
    }

    .step-button-1{
        float:left;
    }
    .rule-wizard-footer{
        margin: 24px 10px;
        position: relative;
    }
    .left-container{
        padding-top: 0px;
        padding-bottom: 0px;
    }



    .form-control{
        display: block;
        width: 100%;
        padding: 0.75rem 0.75rem;
        /*font-size: 1rem;*/
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
  
    .form-control:focus{
        color: rgb(73, 80, 87);
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 123, 255, 0.25) 0px 0px 0px 0.2rem;
        border-color: rgb(128, 189, 255);
        outline: 0px;
    }
    // .form-control{
    //     max-width: 360px;
    // }
}
