<ul class="nav nav-wizard">
  <li (click)="selectStep(1)" id="tab1" class="tab active" attr-ref="content1">
    <a>
      <span class="badge">1</span>
      Common Criteria</a>
  </li>
  <li (click)="selectStep(2)" id="tab2" class="tab" attr-ref="content2">
    <a>
      <span class="badge">2</span>
      Patient Demographics</a>
  </li>
  <li (click)="selectStep(3)" id="tab3" class="tab" attr-ref="content3">
    <a>
      <span class="badge">3</span>
      Test Level </a>
  </li>
  <li (click)="selectStep(4)" id="tab4" class="tab" attr-ref="content4">

    <a>
      <span class="badge">4</span>
      Search Result</a>
  </li>
</ul>