page-topper {
    // background-image: linear-gradient(180deg, #005BAC 0%, #54C3F1 100%);
    background-image: linear-gradient(180deg, #009944 0%, #B6D55F 100%);
    color: #fff;
    height: 40vh;
    min-height: 280px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -999;
}
