<ion-content padding>
<!-- Modal MRN -->

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Locations</h4>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeAddExpenseModal><span aria-hidden="true">&times;</span></button> -->
        
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 table-result" col-12>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Sel</th>
                        <th>Location</th>
                        <th>Description</th>                              
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of arrayLocation,let i=index">
                            <td>
                                <input type="checkbox" [(ngModel)]="item.selected" (change)="checkboxChange(item)"/>
                            </td>
                            <td>
                                {{item.location}}
                            </td>
                            <td>
                                {{item.description}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                            <tr>
                                <td colspan="5">
                                    <pagination *ngIf="(totalItems>0)"
                                         (onChangePage)="changePage($event)" 
                                         [showPageSize]="(false)"
                                         [pager]="pager"></pagination>
                                </td>
                            </tr>
                        </tfoot>
                </table>
            </div>
        </div>

    </div>    
</div>
</ion-content>
<ion-footer>
<div class="button-popup">
    <button ion-button class="alert-button" (click)="pushData()">OK</button>
    <button ion-button class="alert-button" (click)="closeModal()">Quit</button>
</div>

</ion-footer>
