// Icons
// -------------------------


 * [data-icons8]:before,
.icons8-account:before,
.icons8-account-filled:before,
.icons8-add-to-favorites:before,
.icons8-add-to-favorites-filled:before,
.icons8-administrative-tools:before,
.icons8-administrative-tools-filled:before,
.icons8-approval:before,
.icons8-approval-filled:before,
.icons8-area-chart-filled:before,
.icons8-bar-chart:before,
.icons8-bar-chart-filled:before,
.icons8-barcode-scanner:before,
.icons8-barcode-scanner-2:before,
.icons8-book:before,
.icons8-case:before,
.icons8-case-2:before,
.icons8-case-study-2:before,
.icons8-classroom:before,
.icons8-classroom-filled:before,
.icons8-clipboard:before,
.icons8-clipboard-2:before,
.icons8-close-window:before,
.icons8-close-window-filled:before,
.icons8-cloud:before,
.icons8-cloud-filled:before,
.icons8-combo-chart:before,
.icons8-combo-chart-filled:before,
.icons8-comments:before,
.icons8-comments-filled:before,
.icons8-course:before,
.icons8-course-filled:before,
.icons8-customer:before,
.icons8-customer-filled:before,
.icons8-diploma:before,
.icons8-diploma-filled:before,
.icons8-do-not-disturb:before,
.icons8-do-not-disturb-filled:before,
.icons8-download:before,
.icons8-download-filled:before,
.icons8-download-from-cloud:before,
.icons8-download-from-cloud-filled:before,
.icons8-download-from-the-cloud:before,
.icons8-download-from-the-cloud-filled:before,
.icons8-e-learning:before,
.icons8-e-learning-filled:before,
.icons8-error:before,
.icons8-error-filled:before,
.icons8-experiment:before,
.icons8-experiment-2:before,
.icons8-female-profile:before,
.icons8-female-profile-filled:before,
.icons8-fishing-boat:before,
.icons8-fishing-boat-filled:before,
.icons8-flow-chart:before,
.icons8-flow-chart-filled:before,
.icons8-help:before,
.icons8-help-filled:before,
.icons8-hierarchy:before,
.icons8-hierarchy-filled:before,
.icons8-high-priority:before,
.icons8-high-priority-filled:before,
.icons8-increase:before,
.icons8-increase-filled:before,
.icons8-journal:before,
.icons8-journal-2:before,
.icons8-light-bulb-outline:before,
.icons8-line-chart-filled:before,
.icons8-lock:before,
.icons8-lock-filled:before,
.icons8-logs:before,
.icons8-logs-2:before,
.icons8-male-user-filled:before,
.icons8-microscope:before,
.icons8-microscope-2:before,
.icons8-name:before,
.icons8-name-filled:before,
.icons8-new:before,
.icons8-new-filled:before,
.icons8-new-product:before,
.icons8-new-product-filled:before,
.icons8-phone:before,
.icons8-phone-filled:before,
.icons8-play-button:before,
.icons8-play-button-filled:before,
.icons8-private:before,
.icons8-private-filled:before,
.icons8-protect:before,
.icons8-protect-filled:before,
.icons8-prototype:before,
.icons8-prototype-filled:before,
.icons8-quality:before,
.icons8-quality-2:before,
.icons8-questions:before,
.icons8-questions-filled:before,
.icons8-scatter-plot:before,
.icons8-scatter-plot-filled:before,
.icons8-schedule:before,
.icons8-schedule-2:before,
.icons8-search-property:before,
.icons8-search-property-2:before,
.icons8-secure:before,
.icons8-secure-filled:before,
.icons8-sent:before,
.icons8-settings:before,
.icons8-settings-filled:before,
.icons8-shield:before,
.icons8-shield-filled:before,
.icons8-support:before,
.icons8-support-filled:before,
.icons8-synchronize:before,
.icons8-synchronize-filled:before,
.icons8-tasks:before,
.icons8-tasks-2:before,
.icons8-thumbnails:before,
.icons8-thumbnails-filled:before,
.icons8-timeline:before,
.icons8-timeline-2:before,
.icons8-to-do:before,
.icons8-training:before,
.icons8-training-filled:before,
.icons8-tree-structure:before,
.icons8-tree-structure-filled:before,
.icons8-upload-to-the-cloud:before,
.icons8-upload-to-the-cloud-filled:before,
.icons8-video-interview:before,
.icons8-video-interview-2:before,
.icons8-view-details:before,
.icons8-view-details-filled:before,
.icons8-webinar:before,
.icons8-webinar-filled:before,
.icons8-work:before,
.icons8-work-filled:before,
{ @include icons8-font; }

[data-icons8]:before { content: attr(data-icons8); }

.icons8-account:before { content: $icons8-var-account; }
.icons8-account-filled:before { content: $icons8-var-account-filled; }
.icons8-add-to-favorites:before { content: $icons8-var-add-to-favorites; }
.icons8-add-to-favorites-filled:before { content: $icons8-var-add-to-favorites-filled; }
.icons8-administrative-tools:before { content: $icons8-var-administrative-tools; }
.icons8-administrative-tools-filled:before { content: $icons8-var-administrative-tools-filled; }
.icons8-approval:before { content: $icons8-var-approval; }
.icons8-approval-filled:before { content: $icons8-var-approval-filled; }
.icons8-area-chart-filled:before { content: $icons8-var-area-chart-filled; }
.icons8-bar-chart:before { content: $icons8-var-bar-chart; }
.icons8-bar-chart-filled:before { content: $icons8-var-bar-chart-filled; }
.icons8-barcode-scanner:before { content: $icons8-var-barcode-scanner; }
.icons8-barcode-scanner-2:before { content: $icons8-var-barcode-scanner-2; }
.icons8-book:before { content: $icons8-var-book; }
.icons8-case:before { content: $icons8-var-case; }
.icons8-case-2:before { content: $icons8-var-case-2; }
.icons8-case-study-2:before { content: $icons8-var-case-study-2; }
.icons8-classroom:before { content: $icons8-var-classroom; }
.icons8-classroom-filled:before { content: $icons8-var-classroom-filled; }
.icons8-clipboard:before { content: $icons8-var-clipboard; }
.icons8-clipboard-2:before { content: $icons8-var-clipboard-2; }
.icons8-close-window:before { content: $icons8-var-close-window; }
.icons8-close-window-filled:before { content: $icons8-var-close-window-filled; }
.icons8-cloud:before { content: $icons8-var-cloud; }
.icons8-cloud-filled:before { content: $icons8-var-cloud-filled; }
.icons8-combo-chart:before { content: $icons8-var-combo-chart; }
.icons8-combo-chart-filled:before { content: $icons8-var-combo-chart-filled; }
.icons8-comments:before { content: $icons8-var-comments; }
.icons8-comments-filled:before { content: $icons8-var-comments-filled; }
.icons8-course:before { content: $icons8-var-course; }
.icons8-course-filled:before { content: $icons8-var-course-filled; }
.icons8-customer:before { content: $icons8-var-customer; }
.icons8-customer-filled:before { content: $icons8-var-customer-filled; }
.icons8-diploma:before { content: $icons8-var-diploma; }
.icons8-diploma-filled:before { content: $icons8-var-diploma-filled; }
.icons8-do-not-disturb:before { content: $icons8-var-do-not-disturb; }
.icons8-do-not-disturb-filled:before { content: $icons8-var-do-not-disturb-filled; }
.icons8-download:before { content: $icons8-var-download; }
.icons8-download-filled:before { content: $icons8-var-download-filled; }
.icons8-download-from-cloud:before { content: $icons8-var-download-from-cloud; }
.icons8-download-from-cloud-filled:before { content: $icons8-var-download-from-cloud-filled; }
.icons8-download-from-the-cloud:before { content: $icons8-var-download-from-the-cloud; }
.icons8-download-from-the-cloud-filled:before { content: $icons8-var-download-from-the-cloud-filled; }
.icons8-e-learning:before { content: $icons8-var-e-learning; }
.icons8-e-learning-filled:before { content: $icons8-var-e-learning-filled; }
.icons8-error:before { content: $icons8-var-error; }
.icons8-error-filled:before { content: $icons8-var-error-filled; }
.icons8-experiment:before { content: $icons8-var-experiment; }
.icons8-experiment-2:before { content: $icons8-var-experiment-2; }
.icons8-female-profile:before { content: $icons8-var-female-profile; }
.icons8-female-profile-filled:before { content: $icons8-var-female-profile-filled; }
.icons8-fishing-boat:before { content: $icons8-var-fishing-boat; }
.icons8-fishing-boat-filled:before { content: $icons8-var-fishing-boat-filled; }
.icons8-flow-chart:before { content: $icons8-var-flow-chart; }
.icons8-flow-chart-filled:before { content: $icons8-var-flow-chart-filled; }
.icons8-help:before { content: $icons8-var-help; }
.icons8-help-filled:before { content: $icons8-var-help-filled; }
.icons8-hierarchy:before { content: $icons8-var-hierarchy; }
.icons8-hierarchy-filled:before { content: $icons8-var-hierarchy-filled; }
.icons8-high-priority:before { content: $icons8-var-high-priority; }
.icons8-high-priority-filled:before { content: $icons8-var-high-priority-filled; }
.icons8-increase:before { content: $icons8-var-increase; }
.icons8-increase-filled:before { content: $icons8-var-increase-filled; }
.icons8-journal:before { content: $icons8-var-journal; }
.icons8-journal-2:before { content: $icons8-var-journal-2; }
.icons8-light-bulb-outline:before { content: $icons8-var-light-bulb-outline; }
.icons8-line-chart-filled:before { content: $icons8-var-line-chart-filled; }
.icons8-lock:before { content: $icons8-var-lock; }
.icons8-lock-filled:before { content: $icons8-var-lock-filled; }
.icons8-logs:before { content: $icons8-var-logs; }
.icons8-logs-2:before { content: $icons8-var-logs-2; }
.icons8-male-user-filled:before { content: $icons8-var-male-user-filled; }
.icons8-microscope:before { content: $icons8-var-microscope; }
.icons8-microscope-2:before { content: $icons8-var-microscope-2; }
.icons8-name:before { content: $icons8-var-name; }
.icons8-name-filled:before { content: $icons8-var-name-filled; }
.icons8-new:before { content: $icons8-var-new; }
.icons8-new-filled:before { content: $icons8-var-new-filled; }
.icons8-new-product:before { content: $icons8-var-new-product; }
.icons8-new-product-filled:before { content: $icons8-var-new-product-filled; }
.icons8-phone:before { content: $icons8-var-phone; }
.icons8-phone-filled:before { content: $icons8-var-phone-filled; }
.icons8-play-button:before { content: $icons8-var-play-button; }
.icons8-play-button-filled:before { content: $icons8-var-play-button-filled; }
.icons8-private:before { content: $icons8-var-private; }
.icons8-private-filled:before { content: $icons8-var-private-filled; }
.icons8-protect:before { content: $icons8-var-protect; }
.icons8-protect-filled:before { content: $icons8-var-protect-filled; }
.icons8-prototype:before { content: $icons8-var-prototype; }
.icons8-prototype-filled:before { content: $icons8-var-prototype-filled; }
.icons8-quality:before { content: $icons8-var-quality; }
.icons8-quality-2:before { content: $icons8-var-quality-2; }
.icons8-questions:before { content: $icons8-var-questions; }
.icons8-questions-filled:before { content: $icons8-var-questions-filled; }
.icons8-scatter-plot:before { content: $icons8-var-scatter-plot; }
.icons8-scatter-plot-filled:before { content: $icons8-var-scatter-plot-filled; }
.icons8-schedule:before { content: $icons8-var-schedule; }
.icons8-schedule-2:before { content: $icons8-var-schedule-2; }
.icons8-search-property:before { content: $icons8-var-search-property; }
.icons8-search-property-2:before { content: $icons8-var-search-property-2; }
.icons8-secure:before { content: $icons8-var-secure; }
.icons8-secure-filled:before { content: $icons8-var-secure-filled; }
.icons8-sent:before { content: $icons8-var-sent; }
.icons8-settings:before { content: $icons8-var-settings; }
.icons8-settings-filled:before { content: $icons8-var-settings-filled; }
.icons8-shield:before { content: $icons8-var-shield; }
.icons8-shield-filled:before { content: $icons8-var-shield-filled; }
.icons8-support:before { content: $icons8-var-support; }
.icons8-support-filled:before { content: $icons8-var-support-filled; }
.icons8-synchronize:before { content: $icons8-var-synchronize; }
.icons8-synchronize-filled:before { content: $icons8-var-synchronize-filled; }
.icons8-tasks:before { content: $icons8-var-tasks; }
.icons8-tasks-2:before { content: $icons8-var-tasks-2; }
.icons8-thumbnails:before { content: $icons8-var-thumbnails; }
.icons8-thumbnails-filled:before { content: $icons8-var-thumbnails-filled; }
.icons8-timeline:before { content: $icons8-var-timeline; }
.icons8-timeline-2:before { content: $icons8-var-timeline-2; }
.icons8-to-do:before { content: $icons8-var-to-do; }
.icons8-training:before { content: $icons8-var-training; }
.icons8-training-filled:before { content: $icons8-var-training-filled; }
.icons8-tree-structure:before { content: $icons8-var-tree-structure; }
.icons8-tree-structure-filled:before { content: $icons8-var-tree-structure-filled; }
.icons8-upload-to-the-cloud:before { content: $icons8-var-upload-to-the-cloud; }
.icons8-upload-to-the-cloud-filled:before { content: $icons8-var-upload-to-the-cloud-filled; }
.icons8-video-interview:before { content: $icons8-var-video-interview; }
.icons8-video-interview-2:before { content: $icons8-var-video-interview-2; }
.icons8-view-details:before { content: $icons8-var-view-details; }
.icons8-view-details-filled:before { content: $icons8-var-view-details-filled; }
.icons8-webinar:before { content: $icons8-var-webinar; }
.icons8-webinar-filled:before { content: $icons8-var-webinar-filled; }
.icons8-work:before { content: $icons8-var-work; }
.icons8-work-filled:before { content: $icons8-var-work-filled; }
