// Font paths
// -------------------------

@font-face {
  font-family: 'Unity';
  src: url('../assets/fonts/Unity.eot');
  src: url('../assets/fonts/Unity.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/Unity.woff2') format('woff2'),
       url('../assets/fonts/Unity.woff') format('woff'),
       url('../assets/fonts/Unity.ttf') format('truetype'),
       url('../assets/fonts/Unity.svg#Unity') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Unity';
    src: url('../assets/fonts/Unity.svg#Unity') format('svg');
  }
}
