// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Unity";
$icons8-font-path: "../fonts";

$icons8-var-account: "\f144";
$icons8-var-account-filled: "\f145";
$icons8-var-add-to-favorites: "\f12c";
$icons8-var-add-to-favorites-filled: "\f12d";
$icons8-var-administrative-tools: "\f146";
$icons8-var-administrative-tools-filled: "\f147";
$icons8-var-approval: "\f121";
$icons8-var-approval-filled: "\f120";
$icons8-var-area-chart-filled: "\f16a";
$icons8-var-bar-chart: "\f168";
$icons8-var-bar-chart-filled: "\f167";
$icons8-var-barcode-scanner: "\f18e";
$icons8-var-barcode-scanner-2: "\f18f";
$icons8-var-book: "\f187";
$icons8-var-case: "\f183";
$icons8-var-case-2: "\f184";
$icons8-var-case-study-2: "\f182";
$icons8-var-classroom: "\f106";
$icons8-var-classroom-filled: "\f107";
$icons8-var-clipboard: "\f174";
$icons8-var-clipboard-2: "\f175";
$icons8-var-close-window: "\f118";
$icons8-var-close-window-filled: "\f119";
$icons8-var-cloud: "\f15b";
$icons8-var-cloud-filled: "\f15c";
$icons8-var-combo-chart: "\f16d";
$icons8-var-combo-chart-filled: "\f16e";
$icons8-var-comments: "\f160";
$icons8-var-comments-filled: "\f15f";
$icons8-var-course: "\f100";
$icons8-var-course-filled: "\f101";
$icons8-var-customer: "\f14e";
$icons8-var-customer-filled: "\f14f";
$icons8-var-diploma: "\f102";
$icons8-var-diploma-filled: "\f103";
$icons8-var-do-not-disturb: "\f134";
$icons8-var-do-not-disturb-filled: "\f135";
$icons8-var-download: "\f116";
$icons8-var-download-filled: "\f117";
$icons8-var-download-from-cloud: "\f15d";
$icons8-var-download-from-cloud-filled: "\f15e";
$icons8-var-download-from-the-cloud: "\f164";
$icons8-var-download-from-the-cloud-filled: "\f163";
$icons8-var-e-learning: "\f108";
$icons8-var-e-learning-filled: "\f109";
$icons8-var-error: "\f114";
$icons8-var-error-filled: "\f115";
$icons8-var-experiment: "\f192";
$icons8-var-experiment-2: "\f193";
$icons8-var-female-profile: "\f13f";
$icons8-var-female-profile-filled: "\f13e";
$icons8-var-fishing-boat: "\f138";
$icons8-var-fishing-boat-filled: "\f139";
$icons8-var-flow-chart: "\f16b";
$icons8-var-flow-chart-filled: "\f16c";
$icons8-var-help: "\f112";
$icons8-var-help-filled: "\f113";
$icons8-var-hierarchy: "\f110";
$icons8-var-hierarchy-filled: "\f111";
$icons8-var-high-priority: "\f122";
$icons8-var-high-priority-filled: "\f123";
$icons8-var-increase: "\f13d";
$icons8-var-increase-filled: "\f13c";
$icons8-var-journal: "\f185";
$icons8-var-journal-2: "\f186";
$icons8-var-light-bulb-outline: "\f171";
$icons8-var-line-chart-filled: "\f169";
$icons8-var-lock: "\f14b";
$icons8-var-lock-filled: "\f14a";
$icons8-var-logs: "\f176";
$icons8-var-logs-2: "\f177";
$icons8-var-male-user-filled: "\f10e";
$icons8-var-microscope: "\f190";
$icons8-var-microscope-2: "\f191";
$icons8-var-name: "\f148";
$icons8-var-name-filled: "\f149";
$icons8-var-new: "\f151";
$icons8-var-new-filled: "\f150";
$icons8-var-new-product: "\f152";
$icons8-var-new-product-filled: "\f153";
$icons8-var-phone: "\f142";
$icons8-var-phone-filled: "\f143";
$icons8-var-play-button: "\f10d";
$icons8-var-play-button-filled: "\f10c";
$icons8-var-private: "\f130";
$icons8-var-private-filled: "\f131";
$icons8-var-protect: "\f159";
$icons8-var-protect-filled: "\f158";
$icons8-var-prototype: "\f14c";
$icons8-var-prototype-filled: "\f14d";
$icons8-var-quality: "\f172";
$icons8-var-quality-2: "\f173";
$icons8-var-questions: "\f12a";
$icons8-var-questions-filled: "\f12b";
$icons8-var-scatter-plot: "\f170";
$icons8-var-scatter-plot-filled: "\f16f";
$icons8-var-schedule: "\f188";
$icons8-var-schedule-2: "\f189";
$icons8-var-search-property: "\f194";
$icons8-var-search-property-2: "\f195";
$icons8-var-secure: "\f155";
$icons8-var-secure-filled: "\f154";
$icons8-var-sent: "\f15a";
$icons8-var-settings: "\f140";
$icons8-var-settings-filled: "\f141";
$icons8-var-shield: "\f157";
$icons8-var-shield-filled: "\f156";
$icons8-var-support: "\f11c";
$icons8-var-support-filled: "\f11d";
$icons8-var-synchronize: "\f162";
$icons8-var-synchronize-filled: "\f161";
$icons8-var-tasks: "\f18b";
$icons8-var-tasks-2: "\f18c";
$icons8-var-thumbnails: "\f136";
$icons8-var-thumbnails-filled: "\f137";
$icons8-var-timeline: "\f179";
$icons8-var-timeline-2: "\f17a";
$icons8-var-to-do: "\f18a";
$icons8-var-training: "\f104";
$icons8-var-training-filled: "\f105";
$icons8-var-tree-structure: "\f132";
$icons8-var-tree-structure-filled: "\f133";
$icons8-var-upload-to-the-cloud: "\f166";
$icons8-var-upload-to-the-cloud-filled: "\f165";
$icons8-var-video-interview: "\f17f";
$icons8-var-video-interview-2: "\f180";
$icons8-var-view-details: "\f11e";
$icons8-var-view-details-filled: "\f11f";
$icons8-var-webinar: "\f10b";
$icons8-var-webinar-filled: "\f10a";
$icons8-var-work: "\f124";
$icons8-var-work-filled: "\f125";
