<div class="row">
  <div class="col-md-12">
    <table class="table  table-striped">
      <thead>

        <tr>
          <th>Sel</th>
          <th>Test Code</th>
          <th>Short Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of testcodes">
          <td scope="row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [(ngModel)]="item.selected" (change)="changeSelectionTestCode(item)">
            </div>
          </td>
          <td>{{item.testCode}}</td>
          <td>{{item.shortName}}</td>
        </tr>

      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <pagination *ngIf="(totalItems>0)"
               (onChangePage)="changePage($event)" 
               [showPageSize]="(false)"
                [pager]="pager"></pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>