<table class="table  table-striped">
  <thead>
    <tr>
      <th>Run</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listOpAlert">
      <td>{{item.run}}</td>
      <td>{{item.text}}</td>
    </tr>
  </tbody>
</table>