<ion-card>
  <ion-card-content>
    <table class="table  table-striped">
      <thead>

        <tr>
          <th>Test</th>
          <th>Instr</th>
          <th>CheckType</th>
          <th>Low</th>
          <th>High</th>
          <th>Flag</th>
          <th>Delta Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        

        <tr *ngFor="let item of createModel.ruleElements,let i=index">
           <td>
            <input class="form-control" [(ngModel)]="item.testCode" (dblclick)="showTestCodeTestLevel(i)" >
          </td>
          <td>
            <input class="form-control" [(ngModel)]="item.instrument" (dblclick)="showInstr(i)" >
          </td>
          <td>
            <select class="form-control" [(ngModel)]="item.checkType">
              <option *ngFor="let child of arrayCheckType" [value]="child.id">
                {{child.name}}
              </option>
            </select>
          </td>
          <td>
            <input type="number" class="form-control" [(ngModel)]="item.lowLimit" [disabled]="disabledLow(item)">
          </td>
          <td>
            <input type="number" class="form-control" [(ngModel)]="item.highLimit" [disabled]="disabledHight(item)">
          </td>
          <td>
            <input class="form-control" [(ngModel)]="item.flag" maxlength="20">
          </td>
          <td>
            <select class="form-control" [(ngModel)]="item.deltaType">
              <option *ngFor="let child of arrayDeltaType" [value]="child.id">
                {{child.name}}
              </option>
            </select>
          </td>
          <td class="text-center">
            <button ion-button outline small style="text-transform: none;" (click)="DeleteTestLevel(i)">Delete</button>
          </td>
        </tr>
      
      </tbody>
      <tfoot>

        <tr>
          <td colspan="7"></td>
          <td class="text-center" style="padding: 10px;">
            <button ion-button style="text-transform: none;"  (click)="AddRow()">Add</button>
<!--mat-raised-button small color="primary"-->
          </td>
        </tr>
      </tfoot>
    </table>
  </ion-card-content>
</ion-card>