test-level-selection {
    margin-bottom: 10px;   
    width:100%; 
    table{
        width: 100%;
        tfoot{
            tr{
                td{
                    padding:0;
                }
            }
        }
        th,td{
            text-align: left;
            //padding: 5px 15px 5px;
        }
    }

    .btn{
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.75rem 1.5rem;;
        /*font-size: 1rem;*/
        line-height: 1.5;
        border-radius: 0.25rem;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    .btn-primary {
        color: #fff;
        background-color: #005BAC;
        border-color: #005BAC;
    }
    .btn-info{
        color: #fff;
        background-color: #2196f3;
        border-color: #2196f3;
    }
    
    .btn-outline-primary {
        color: #005BAC;
        background-color: transparent;
        background-image: none;
        border-color: #005BAC;
    }
}
