page-modal-select-mrn {
    ///table
    .row{
        margin-bottom: 20px;
    }
    table{
        width: 100%;
        tfoot{
            tr{
                td{
                    padding:0;
                }
            }
        }
        th,td{
            text-align: left;
            padding: 15px 15px 10px;
        }
    }

    // thead tr{
    //     font-family: "OpenSans Bold";
    //     background-color: rgba(57, 132, 220, 0.25) ;

    // }

    // tbody tr:hover{
    //     background-color: rgba(205, 224, 246, 0.75)!important ;
    // }

    .btn{
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.75rem 1.5rem;;
        /*font-size: 1rem;*/
        line-height: 1.5;
        border-radius: 0.25rem;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    .btn-primary {
        color: #fff;
        background-color: #005BAC;
        border-color: #005BAC;
    }
    
    .btn-outline-primary {
        color: #005BAC;
        background-color: transparent;
        background-image: none;
        border-color: #005BAC;
    }

    
tbody { display: block; }

table {
    width: 100%;
    border-spacing: 0;
}

thead, tbody, tr, th, td { display: block; }

thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
    background-color: transparent !important;
}

tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td:first-child, thead th:first-child {
    width: 12%;  
    float: left;
}
tbody td:nth-child(2), thead th:nth-child(2) {
    width: 25% ;  
    float: left;
}
tbody td:nth-child(3), thead th:nth-child(3) {
    width: 25% ;  
    float: left;
}

tbody td:nth-child(4), thead th:nth-child(4) {
    width: 14%;  
    float: left;
}

tbody td, thead th {
    width: 22%;  /* 19% is less than (100% / 5 cols) = 20% */
    float: left;
}
    .scroll-content{
        overflow-y: hidden;
    }
    .button-popup{
        float:right;
        //padding: 15px;
    }

}
// @media only screen and (min-height: 600px) and (min-width: 768px)
// {
//     .modal-wrapper {
//         height: 550px !important;
//     }
// }
