step1-set-global-properties {
 

    .title{
        margin-bottom: 34px;
        color: #3475b5;
    }
    .row{
        margin-bottom: 5px;
    }
   
    // .form-control{
    //     max-width: 360px;
    // }


}
