<ion-grid>
  <ion-row>
    <ion-col col-3>
      <div class="label">Rule Name:</div>
    </ion-col>
    <ion-col col-md-5>
      <input type="text" class="form-control" [(ngModel)]="searchModel.ruleName">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3>
      <div class="label">Discipline:</div>
    </ion-col>
    <ion-col col-md-5>
      <select class="form-control" [(ngModel)]="searchModel.discipline">
        <option value="-1">--Select--</option>
        <option value="1">Hematology</option>
        <option value="2">Chemistry</option>
      </select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3>
      <div class="label">Active Status:</div>
    </ion-col>
    <ion-col col-md-5>
      <select class="form-control" [(ngModel)]="searchModel.activeMode">
        <option value="-1">--Select--</option>
        <option value="1">Active</option>
        <option value="2">Inactive</option>
      </select>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-3>
      <div class="label">Trigger On:</div>
    </ion-col>
    <ion-col col-md-5>
      <select class="form-control" [(ngModel)]="searchModel.triggerOn">
        <option value="-1">--Select--</option>
        <option value="1">Order creation</option>
        <option value="2">Results</option>
      </select>
    </ion-col>
  </ion-row>
</ion-grid>
