<ion-header>
  <ion-navbar color="white" class="unity">
    <unity-nav></unity-nav>
  </ion-navbar>
</ion-header>
<ion-content class="rule-wizard ">
  <page-topper></page-topper>
  <div class="content-col" padding>
    <!-- <div class="container-h content-flex">
      <div class="title-page">
        Selection criteria
      </div>
    </div> -->

    <div class="container-h content-flex">
      <ion-grid>
        <ion-row class="sample-explorer-item">
          <div col-12>
            <div>
              <!-- <div class="title-item">Selection criteria</div> -->
              <ion-grid>
                <ion-row>
                  <ion-col col-3>
                    <div class="label">Sample ID</div>
                  </ion-col>
                  <ion-col col-3>
                    <input type="text" class="form-control" [(ngModel)]="model.SampleId">
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
        </ion-row>

        <ion-row class="sample-explorer-item border-top">
          <div col-12>
            <div>
              <ion-grid>
                <ion-row>
                  <ion-col col-3>
                    <div class="label">Receipt Date From</div>
                  </ion-col>
                  <ion-col col-3>
                    <input type="date" class="form-control" max="9999-12-31" [(ngModel)]="model.receiptDateFrom">
                  </ion-col>
                  <ion-col col-1>
                    <div class="label">To</div>
                  </ion-col>
                  <ion-col col-3>
                    <input type="date" class="form-control" max="9999-12-31" [(ngModel)]="model.receiptDateTo">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-3>
                    <div class="label">Workplace</div>
                  </ion-col>
                  <ion-col col-3>
                    <input type="text" class="form-control" [(ngModel)]="model.workplace">

                    <!-- <div class="form-control div-style">
                      <span *ngFor="let item of workPlaceSelectedArray;let i= index" class="btn btn-outline-tag" style="margin-right:5px;"> {{item.workplace}}
                        <a (click)="deleteWorkPlace(i)">x</a>
                      </span>
                    </div> -->
                  </ion-col>
                  <ion-col col-1>
                    <button class="btn-popup" (click)="showWorkPlace()" title="Select Workplace">
                      ...
                    </button>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </div>
          </div>
        </ion-row>
       
        <ion-row class="sample-explorer-item border-top">
          <div col-12>
            <div>
              <ion-grid>
                <ion-row>
                  <ion-col col-3>
                    <div class="label">MRN</div>
                  </ion-col>
                  <ion-col col-3>
                    <input type="text" class="form-control" [(ngModel)]="model.mrn">

                    <!-- <div class="form-control div-style">
                    <span *ngFor="let item of mrnSelectedArray;let i= index" class="btn btn-outline-tag" style="margin-right:5px;"> {{item.id}} <a (click)="deleteMRN(i)">x</a></span>
                  </div> -->
                  </ion-col>
                  <ion-col col-1>
                    <button title="Select MRN" class="btn-popup" (click)="showMrn()">
                      ...
                    </button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-3>
                    <div class="label">Name</div>
                  </ion-col>
                  <ion-col col-3>
                    <input type="text" class="form-control" [(ngModel)]="model.patientName">

                    <!--<div class="form-control div-style">
                      <span *ngFor="let item of patientNameSelectedArray;let i= index" class="btn btn-outline-tag" style="margin-right:5px;"> {{item.name}}
                        <a (click)="deletePatientName(i)">x</a>
                      </span>
                    </div> -->
                  </ion-col>
                  <ion-col col-1>
                    <button title="Select Patient Name" class="btn-popup" (click)="showPatientNames()">
                      ...
                    </button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-3>
                    <div class="label">Req. Location</div>
                  </ion-col>
                  <ion-col col-3>
                    <input type="text" class="form-control" [(ngModel)]="model.requestingLocation">

                    <!-- <div class="form-control div-style">
                      <span *ngFor="let item of locationSelectedArray;let i= index" class="btn btn-outline-tag" style="margin-right:5px;"> {{item.location}}
                        <a (click)="deleteLocation(i)">x</a>
                      </span>
                    </div> -->
                  </ion-col>
                  <ion-col col-1>
                    <button title="Select Location" class="btn-popup" (click)="showLocation()">
                      ...
                    </button>
                  </ion-col>

                </ion-row>
              </ion-grid>

            </div>
          </div>
        </ion-row>
        <ion-row class="row-action">
          <ion-col col-12 class="actions">
            <button ion-button outline (click)="clear()" style="text-transform: none;">Clear</button>
            <button ion-button (click)="search()" style="text-transform: none;">Search</button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>



</ion-content>
<ion-footer>
  <unity-footer></unity-footer>
</ion-footer>