page-sample-explorer {
    .sample-explorer-item{
        margin-bottom: 0px;
        padding: 0px 15px;
        .title-item{
            color: #3475b5;
            font-weight: bold;
            text-transform: uppercase; 
        }
        
    }

    .row-action{
        .actions{
            text-align: right;
        }
    }
    .border-top{
        box-shadow: 0px 0px 0px 0px;
    }

    .btn{
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.75rem 1.5rem;;
        /*font-size: 1rem;*/
        line-height: 1.5;
        border-radius: 0.25rem;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    .btn-primary {
        color: #fff;
        background-color: #005BAC;
        border-color: #005BAC;
    }
            
    .content-col{
        border-bottom-left-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        margin-bottom: 5px !important;
    }
    
}
