unity-nav {
display: flex;
    flex: 0 1 100%;
    .brand-name {
        flex: 0 0 auto;
        background: color($colors, light-blue);
        border-radius: 3px;
        color: #fff;
        font-size: 1.2em;
        line-height: 1;
        margin-left: .5em;
        padding: .25em .5em;
        white-space: nowrap;
    }
    ion-searchbar {
        width: auto;
    }
    .button {
        ion-icon {
            font-size: 1.8em;
            line-height: .67;
            pointer-events: none;
        }
    }
    connectivity,
    .title-logo,
    user-switcher .viewing {
        @media only screen and (max-width: $med-width) {
            display: none;
        }
    }

    user-switcher .current {
        @media only screen and (max-width: $med-width) {
            max-width: 35vw;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
