
<ion-header>
  <ion-navbar color="white" class="unity">
    <unity-nav></unity-nav>
  </ion-navbar>
</ion-header>
<ion-content>

  <div class="container-h content-flex">
    <div class="container-v content-flex table-container">
      <div class="container-h items-center justify-between query-params" padding-horizontal *ngIf="dataSource.data">
        <h2>{{dataSource.data.length}} Result{{dataSource.data.length==1?'':'s'}}</h2>
        <div class="container-h items-center gap fields">
          <div class="field">ID</div>
          <div class="field-value">192168</div>
        </div>
      </div>
      <div class="content-flex scroll-container">
        <ion-scroll scrollY="true">
          <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="sample_date" matSortDirection="asc">

            <!--- Note that these columns can be defined in any order.
         The actual rendered columns are set as a property on the row definition" -->

            <!-- Number Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.status }}</mat-cell>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="priority">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.priority }}</mat-cell>
            </ng-container>

            <!-- Created Column -->
            <ng-container matColumnDef="sample_date">
              <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
                Date
              </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row.sample_date | date:'MM/dd/yyyy hh:mm a' }}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row [class.is-selected]="row.selected" *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" [class.stat]="row.priority == 0"></mat-row>
          </mat-table>
        </ion-scroll>
      </div>


      <!-- <mat-paginator [length]="resultsLength" [pageSize]="30">
      </mat-paginator> -->
    </div>
    <div class="container-v content-flex detail-container">
      <div *ngIf="sample" class="container-v sample">
        <ion-card>
          <ion-card-header>
            <div class="container-h items-center justify-between">
              <span>{{sample?.patient_name}}</span>
              <span class="stat-tag" *ngIf="sample.priority == 0">STAT</span>
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="container-h justify-between sample-details items-end">
              <div class="container-v">
                <div class="container-h detail items-end">
                  <span class="name">Sample#: </span>
                  <span class="value">{{sample?.id}}</span>
                </div>
                <div class="container-h detail items-end">
                  <span class="name">MR#: </span>
                  <span class="value">{{sample?.patient_id}}</span>
                </div>
              </div>
              <div class="container-v">
                <div class="container-h detail items-end">
                  <span class="name">Sex: </span>
                  <span class="value">{{sample?.gender}}</span>
                </div>
                <div class="container-h detail items-end">
                  <span class="name">Age: </span>
                  <span class="value">{{sample?.age}}</span>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>

        <!-- Sample Details (tests run, etc.) -->
        <ion-card>
          <mat-table #detailTable [dataSource]="sampleDetailsDataSource">

            <ng-container matColumnDef="test_code">
              <mat-header-cell *matHeaderCellDef> Test </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.test_code}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="test_result">
              <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.test_result}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="sampleDetailsColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: sampleDetailsColumns;"></mat-row>
          </mat-table>
        </ion-card>

        <!-- OP ALERTS -->
        <ion-card>
          <ion-card-header>
            <div class="container-h items-center justify-between">
              <span class="op-alerts">OP ALERTS</span>
            </div>
          </ion-card-header>
          <ion-list>
            <ion-item text-wrap>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </ion-item>
            <ion-item text-wrap>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </ion-item>
          </ion-list>
        </ion-card>

      </div>
      <div *ngIf="!sample" class="container-v items-center justify-center empty">
        <h3>Select a Sample to see more details</h3>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <unity-footer></unity-footer>
</ion-footer>