page-sample-results {
    .content {
        > .scroll-content {
            overflow: hidden;
            .fields {
                .field {
                    font-size: .9em;
                    line-height: 1;
                    padding: .25em;
                    border-radius: .25em;
                    background-color: color($colors, dark);
                    color: #fff;
                }
            }
            .op-alerts {
                line-height: 1;
                padding: .25em;
                border-radius: .25em;
                background-color: color($colors, primary);
                color: #fff;
            }
            .stat-tag {
                line-height: 1;
                padding: .25em;
                border-radius: .25em;
                background-color: color($colors, stat);
                color: #fff;
            }
            .query-params {
                height: 48px;
            }
            .detail-container {
                border-left: 1px solid #ddd;
                background: #f1f1f1;
            }
            .detail {
                .name {
                    font-size: .8em;
                    text-align: right;
                }
                .value {
                    font-weight: bold;
                    margin-left: .1em;
                }
            }
            .table-container {
                width: 25vw;
                min-width: 320px;
                .scroll-container {

                    .scroll-y {
                        min-height: calc(100vh - 56px - 56px - 56px - 48px);
                    }

                }
            }
        }
    }

    .mat-header-row {
        background-color: color($colors, primary);
        .mat-header-cell {
            color: #fff;
        }
    }
    .mat-row{
        cursor: pointer;
    }
    .mat-row.stat {
        background-color: lightyellow;
    }
    .mat-row.is-selected {
        background-color: #eee;
    }
    .mat-row.stat.is-selected {
        background-color: rgb(252, 226, 113);
    }
}
