<!--
  Generated template for the UsersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-list>
  <ion-item *ngFor="let user of users" (click)="pick(user)">
      <ion-avatar item-start>
        <img src="{{user.picture.thumbnail}}">
      </ion-avatar>
        <h2>{{user.FullName}}</h2>
  </ion-item>
</ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <button ion-button block color="danger" (click)="logout()">Logout</button>
    </ion-toolbar>
</ion-footer>
