user-switcher {
.admin-button {
.button-inner {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
    .viewing {
        font-weight: bold;
    }
    ion-icon.menu {
        margin-left: .25em;
        padding-left: .5em;
        border-left: 1px solid rgba(255, 255, 255, .6);
    }
}
}.admin-button {
    text-transform: none;
        .button-inner {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
            pointer-events: none;
            .avatar {
                max-height: 32px;
                border-radius: 32px;
            }
            .viewing {
                font-weight: bold;
            }
            ion-icon.menu {
                margin-left: .25em;
                padding-left: .5em;
                border-left: 1px solid rgba(255, 255, 255, .6);
            }
        }
    }
}
