<!-- Generated template for the UserSwitcherComponent component -->
<div *ngIf="available" class="container-h items-center">
  <button ion-button clear (click)="launch($event)" class="admin-button">
      <div class="unselectable ignore-events container-h items-center gap">
              <img class="avatar" src="{{user?.picture.thumbnail}}">
              <span class="current">{{currentUsername}}</span>
              <ion-icon name="ios-arrow-down" class="menu"></ion-icon>
      </div>
  </button>
</div>
