<table class="table  table-striped">

  <thead>
    <tr>
      <th>
        <div (click)="sort()">Test Code
            <ion-icon *ngIf="typeSortIntrusment=='desc'" name="arrow-down" md="md-arrow-down"></ion-icon>
            <ion-icon *ngIf="typeSortIntrusment=='asc'" name="arrow-up" md="md-arrow-up"></ion-icon>
        </div>
      </th>
      <th>Result</th>
      <th>Comment</th>
      <th>Prev Res</th>
    </tr>
  </thead>
  <tbody>
    <!--  matTooltip="{{item.resultStatusTooltip||''}}" [matTooltipPosition]="'above'" -->
    <tr *ngFor="let item of listOrderResultsInstrusment">
      <td>{{item.testCode}}</td>
      <td title="{{item.resultStatusTooltip||''}}" >{{item.result}}</td>
      <td>{{item.comments}}</td>
      <td>{{item.prevResult}}</td>
    </tr>

  </tbody>

</table>