instrustment {
    th{
        display: inline-table;
    }
     th, td{
        //padding: 0px;
        padding-left: 10px;
    }
    .table-striped{
        tbody { display: block; }
        
        table {
            width: 100%;
            border-spacing: 0;
        }
        
        thead, tbody, tr, th, td { display: block; }

        thead tr {
            /* fallback */
            width: 97%;
            /* minus scroll bar width */
            width: -webkit-calc(100% - 16px);
            width:    -moz-calc(100% - 16px);
            width:         calc(100% - 16px);
            background-color: transparent !important;
        }
        
        tr:after {  /* clearing float */
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }
        
        tbody {
            //max-height: 350px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        
        tbody td:first-child, thead th:first-child {
            // width: 5%;  
            float: left;
        }
        // tbody td:nth-child(2), thead th:nth-child(2) {
        //     width: 70% ;  
        //     float: left;
        // }
        // tbody td:nth-child(3), thead th:nth-child(3) {
        //     width: 25% ;  
        //     float: left;
        // }
        
        tbody td:nth-child(3), thead th:nth-child(3) {
            width: 40%;  
            float: left;
        }
        
        tbody td, thead th {
            width: 14%;  /* 19% is less than (100% / 5 cols) = 20% */
            float: left;
        }
    }
    
}
